@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
.wrapper {
    max-width: 1920px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
button, input {
    /* 1 */
    overflow: visible;
}
button, select {
    /* 1 */
    text-transform: none;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
textarea {
    overflow: auto;
    resize: none;
}
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
[hidden] {
    display: none;
}
.slider {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.b-lazy {
    -webkit-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-right: 0!important;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', Fallback, sans-serif;
}
@media only screen and (min-width: 992px) {
    body {
        overflow-y: scroll;
    }
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #9c9c9c;
    }
    body::-webkit-scrollbar {
        width: 6px;
        background-color: #9c9c9c;
    }
    body::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ef720e;
    }
}
*::-moz-selection {
    background-color: #6b6c70;
    color: #fff;
}
*::selection {
    background-color: #6b6c70;
    color: #fff;
}
.fancybox-margin {
    margin-right: 0 !important;
}
section {
    padding: 60px 0;
}
@media only screen and (min-width: 1200px) {
    section {
        padding: 80px 0;
    }
}
@media only screen and (min-width: 1600px) {
    section {
        padding: 100px 0;
    }
}
.wrapLine {
    position: relative;
    overflow: hidden;
}
.wrapLine:before {
    content: '';
    position: absolute;
    top: 0;
    left: -160px;
    background: -webkit-repeating-linear-gradient(left, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
    background:      -o-repeating-linear-gradient(left, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
    background:         repeating-linear-gradient(90deg, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.section__content {
    width: 25%;
}
@media only screen and (min-width: 1600px) {
    .section__content {
        width: 25%;
    }
}
.section__gallery {
    width: 73%;
}
@media only screen and (min-width: 1600px) {
    .section__gallery {
        width: 75%;
    }
}
.section__title {
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    border: 2px solid #000;
    background: #fff;
}
@media only screen and (min-width: 1600px) {
    .section__title {
        min-width: 370px;
        padding-top: 65px;
        padding-bottom: 65px;
        font-size: 42px;
    }
}
.section__title span {
    color: #ef720e;
}
.section__text {
    font-size: 18px;
    color: #9c9c9c;
    background: #fff;
}
@media only screen and (min-width: 1600px) {
    .section__text {
        font-size: 19px;
    }
}
.btn {
    display: block;
    width: 200px;
    padding: 10.5px 0;
    margin: 30px 0;
    background: #000;
    color: #fff;
    text-align: center;
}
.bubbly-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
            transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
         -o-transition:         transform ease-in 0.1s, box-shadow ease-in 0.25s;
            transition:         transform ease-in 0.1s, box-shadow ease-in 0.25s;
            transition:         transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    -webkit-transition: all ease-in-out 0.5s;
         -o-transition: all ease-in-out 0.5s;
            transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 20%, #000 20%, transparent 30%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%);
    background-image:      -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, transparent 20%, #000 20%, transparent 30%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%);
    background-image:         radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 20%, #000 20%, transparent 30%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%), -webkit-radial-gradient(circle, #000 20%, transparent 20%);
    background-image:      -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%), -o-radial-gradient(circle, #000 20%, transparent 20%);
    background-image:         radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    background: #000;
}
.bubbly-button.animate:before {
    display: block;
    -webkit-animation: topBubbles ease-in-out 0.75s forwards;
            animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
            animation: bottomBubbles ease-in-out 0.75s forwards;
}
.bubbly-button-no {
    -webkit-transition: -webkit-transform ease-in 0.1s;
            transition: -webkit-transform ease-in 0.1s;
         -o-transition:         transform ease-in 0.1s;
            transition:         transform ease-in 0.1s;
            transition:         transform ease-in 0.1s, -webkit-transform ease-in 0.1s;
    z-index: 1;
}
.bubbly-button-no:focus {
    outline: 0;
}
.bubbly-button-no:active, .bubbly-button-no:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    background-color: #000;
    z-index: 1;
}
@-webkit-keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
    }
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
    }
}
@-webkit-keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0;
    }
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0;
    }
    100% {
        background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0;
    }
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0;
    }
    100% {
        background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0 0, 0 0,  0 0,  0 0,  0 0,  0 0;
    }
}
::-webkit-input-placeholder {
    font-size: 16px;
}
::-moz-placeholder {
    font-size: 16px;
}
:-ms-input-placeholder {
    font-size: 16px;
}
:-moz-placeholder {
    font-size: 16px;
}
.header__box {
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__logo {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
    margin-right: 25px;
}
.header .nav {
    margin-top: 13px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.header__item {
    margin-left: 35px;
}
.header__link {
    display: inline-block;
    position: relative;
}
.header__link:after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    bottom: -5px;
    height: 2px;
    background: #ef720e;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
         -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.header__link:hover:after {
    width: 100%;
    left: 0;
}
.header .localization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header .localization__item {
    margin-left: 10px;
}
.header__phone {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header li {
    list-style: none;
}
.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    background: #eee;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03), -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
    z-index: 200;
}
.header__fixed.is-hidden {
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
}
.hero {
    overflow: hidden;
    min-height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../images/hero__back.jpg) no-repeat center / cover;
}
.hero__title {
    padding-bottom: 35px;
    font-size: 92px;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.hero__subtitle {
    padding-bottom: 20px;
    font-size: 22px;
}
.hero .btn {
    display: table;
    position: relative;
    padding: 15px 0;
    width: 290px;
    font-size: 18px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.hero .btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
    right: 30px;
    width: 18px;
    height: 14px;
    background: url(../images/icons/cup.png) no-repeat;
}
.container {
    position: relative;
}
.decoration__img {
    position: absolute;
}
.decoration__img1 {
    top: 100px;
    left: -160px;
}
.decoration__img2 {
    top: 470px;
    left: -160px;
}
.decoration__img3 {
    top: 545px;
    left: 60px;
}
.decoration__img4 {
    top: 440px;
    left: 350px;
}
.decoration__img5 {
    top: 200px;
    right: 445px;
}
.decoration__img6 {
    top: 125px;
    right: 420px;
}
.decoration__img7 {
    top: 35px;
    right: 345px;
}
.decoration__img8 {
    top: 90px;
    right: 360px;
}
.decoration__img9 {
    top: 110px;
    right: 260px;
}
.decoration__img10 {
    top: 200px;
    right: 380px;
}
.decoration__img11 {
    top: 255px;
    right: 320px;
}
.decoration__img12 {
    top: 155px;
    right: 100px;
}
.decoration__img13 {
    top: 245px;
    right: 135px;
}
.decoration__img14 {
    top: 335px;
    right: 210px;
}
.decoration__img15 {
    top: 245px;
    right: 10px;
    z-index: 10;
}
.decoration__img16 {
    top: 75px;
    right: -180px;
}
.decoration__img17 {
    top: 305px;
    right: -40px;
}
.decoration__img18 {
    top: 135px;
    right: -100px;
}
.decoration__img19 {
    top: 315px;
    right: -150px;
}
.decoration__img20 {
    top: 55px;
    right: -280px;
}
.decoration__img21 {
    top: 165px;
    right: -280px;
}
.decoration__img22 {
    top: 75px;
    right: -310px;
}
.decoration__img23 {
    top: 145px;
    right: -360px;
}
.decoration__img24 {
    top: -60px;
    right: -360px;
    z-index: 1000;
}
.decoration__img25 {
    top: -50px;
    right: -370px;
    z-index: 1003;
}
.decoration__img26 {
    top: -250px;
    right: -370px;
    z-index: 1002;
}
.decoration__img27 {
    top: -240px;
    right: -340px;
    z-index: 1003;
}
.decoration__img28 {
    top: -250px;
    right: -380px;
    z-index: 1000;
}
.arrow__link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -150px;
}
.redShadow {
    text-shadow: -6px 0 #df3e51;
}
.orangeShadow {
    text-shadow: -6px 0 #ef720e;
}
.portfolio__box {
    padding: 0 20px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__box {
        padding: 0 50px;
    }
}
@media only screen and (min-width: 1920px) {
    .portfolio__box {
        padding: 0 100px;
    }
}
.portfolio__title {
    padding-left: 45px;
    padding-right: 70px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__gallery {
        margin-left: 35px;
    }
}
.portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.portfolio__img {
    width: 370px;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
}
@media only screen and (min-width: 1365px) {
    .portfolio__img {
        width: 410px;
    }
}
@media only screen and (min-width: 1600px) {
    .portfolio__img {
        width: 520px;
    }
}
@media only screen and (min-width: 1920px) {
    .portfolio__img {
        width: 560px;
    }
}
.portfolio__figure {
    position: relative;
    max-height: 350px;
    margin-left: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    color: #fff;
}
.portfolio__figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
.portfolio__figure:hover:before {
    background: rgba(0, 0, 0, 0.55);
}
.portfolio__figure:hover .portfolio__caption {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
}
.portfolio__caption {
    position: absolute;
    max-width: 480px;
    top: -20px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    left: 20px;
    opacity: 0;
    visibility: hidden;
    /*transition: all .3s cubic-bezier(0.72, -0.04, 0.14, 1.03); */
    -webkit-transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
         -o-transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
            transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
}
.portfolio__titles {
    font-size: 23px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__titles {
        font-size: 27px;
    }
}
.portfolio__text {
    padding: 15px 0;
    font-size: 18px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__text {
        font-size: 19px;
    }
}
.portfolio__link {
    display: table;
    position: relative;
    font-size: 18px;
}
.portfolio__link svg {
    fill: #fff;
}
.portfolio__link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 25px;
    background: url(../images/icons/svg/arr-left.svg) no-repeat;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.portfolio__link:hover:after {
    right: -50px;
}
.portfolio .btn {
    margin-left: 15px;
}
.partners {
    padding: 0 45px;
}
.partners__box {
    padding: 100px 40px;
    background: #f4f4f4;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
}
@media only screen and (min-width: 1600px) {
    .partners__box {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.partners__title {
    padding-left: 45px;
    background: #f4f4f4;
}
@media only screen and (min-width: 1600px) {
    .partners__title {
        padding-right: 70px;
    }
}
.partners__text {
    background: #f4f4f4;
}
@media only screen and (min-width: 1600px) {
    .partners__gallery {
        margin-right: 35px;
    }
}
.partners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.partners__item {
    position: relative;
    width: 18%;
    min-height: 120px;
    margin-bottom: 25px;
    list-style: none;
}
@media only screen and (min-width: 1600px) {
    .partners__item {
        min-height: 150px;
    }
}
.partners__item:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: #df3e51;
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
.partners__item:hover:before {
    width: 100%;
    height: 100%;
}
.partners__item:hover img {
    -webkit-filter: grayscale(0) brightness(100%) contrast(1);
            filter: grayscale(0) brightness(100%) contrast(1);
}
.partners__img {
    max-width: 120px;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    -webkit-filter: grayscale(100%) brightness(75%) contrast(2);
            filter: grayscale(100%) brightness(75%) contrast(2);
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
@media only screen and (min-width: 1600px) {
    .partners__img {
        max-width: 150px;
    }
}
.partners .tvbet {
    -webkit-filter: grayscale(100%) brightness(0) contrast(2);
            filter: grayscale(100%) brightness(0) contrast(2);
}
.consult {
    min-height: 380px;
    background: url(../images/fornSection__back.jpg) no-repeat center / cover;
}
.consult .container {
    position: relative;
}
.consult .form {
    position: absolute;
    top: -50px;
    right: 180px;
    width: 390px;
    padding: 60px 20px 90px 20px;
    text-align: center;
    color: #fff;
    background: #3b3b3d;
    -webkit-box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.35);
}
.consult .form__title {
    padding-bottom: 15px;
    font-size: 38px;
    font-weight: 700;
}
.consult .form__text {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
}
.consult .form__line {
    display: block;
    width: 270px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: center;
}
.consult .form .btn {
    width: 270px;
    padding: 12px 0;
    margin: 20px auto;
    border: none;
    background: #ef720e;
}
.team {
    padding-left: 45px;
    padding-right: 45px;
    background: #fff;
}
.team__title {
    padding-left: 45px;
    padding-right: 70px;
}
@media only screen and (min-width: 1600px) {
    .team__gallery {
        margin-right: 55px;
    }
}
.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.team__item {
    position: relative;
    width: 210px;
    margin-right: 35px;
    min-height: 198px;
    padding-top: 25px;
    padding-left: 25px;
    margin-bottom: 35px;
    background: #fff;
    -webkit-box-shadow: 2.817px 5.298px 12px 0 rgba(0, 0, 0, 0.13);
            box-shadow: 2.817px 5.298px 12px 0 rgba(0, 0, 0, 0.13);
    list-style: none;
}
@media only screen and (min-width: 1365px) {
    .team__item {
        width: 250px;
        margin-bottom: 70px;
    }
}
@media only screen and (min-width: 1600px) {
    .team__item {
        width: 320px;
    }
}
.team__person-name {
    padding-bottom: 10px;
    font-size: 23px;
}
.team__person-position {
    font-size: 14px;
}
.team__person-photo {
    position: absolute;
    bottom: -2px;
    right: -40px;
}
.team__person-img {
    max-height: 166px;
}
@media only screen and (min-width: 1365px) {
    .team__person-img {
        max-height: 240px;
    }
}
.team__person-social {
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.team__person-link img {
    display: block;
    width: 24px;
    height: 24px;
}
.review .wrapper {
    overflow: hidden;
}
.review__box {
    padding: 0 20px;
    position: relative;
}
@media only screen and (min-width: 1600px) {
    .review__box {
        padding: 0 50px;
        padding-right: 50px;
    }
}
@media only screen and (min-width: 1920px) {
    .review__box {
        padding: 0 100px;
        padding-right: 60px;
    }
}
.review__title {
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 70px;
}
.review__slider {
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    width: 70vw;
    background: #fff;
}
.review__text {
    padding: 15px 0;
    font-size: 18px;
}
@media only screen and (min-width: 1600px) {
    .review__text {
        font-size: 19px;
    }
}
.review__item {
    display: inline-block;
    list-style: none;
}
.review__info {
    max-width: 500px;
    padding: 40px 20px;
    border: 2px solid #000;
}
@media only screen and (min-width: 1920px) {
    .review__info {
        max-width: 560px;
    }
}
.review__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}
.review__name {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}
.review__position {
    font-size: 15px;
}
.review__photo {
    margin-right: 10px;
}
.review__social {
    margin-left: 30px;
}
.review__link img {
    display: block;
    width: 46px;
    height: 46px;
}
.news {
    padding: 0 45px;
}
.news__box {
    padding: 100px 80px;
    background: #f4f4f4;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
}
.news__title {
    padding-left: 45px;
    background: #f4f4f4;
}
@media only screen and (min-width: 1600px) {
    .news__title {
        padding-right: 70px;
    }
}
@media only screen and (min-width: 1600px) {
    .news__gallery {
        margin-right: 35px;
    }
}
.news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.news__item {
    width: 380px;
    position: relative;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}
.news__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
.news__item:hover:before {
    background: rgba(0, 0, 0, 0.65);
}
.news__item:hover .news__caption {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
}
.news__img {
    width: 380px;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.news__caption {
    position: absolute;
    max-width: 480px;
    bottom: 90px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    left: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
         -o-transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
            transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
    color: #fff;
}
.news__titles {
    display: table;
    position: relative;
    font-size: 18px;
}
.news__titles:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 4px;
    width: 70px;
    background: #ef720e;
}
.news__titles:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 25px;
    background: url(../images/icons/svg/arr-left.svg) no-repeat;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.contacts .map {
    width: 100%;
    height: 500px;
}
.contacts .container {
    position: relative;
    z-index: 10;
}
.contacts__title {
    margin-bottom: 80px;
    position: relative;
    font-size: 35px;
    font-weight: 700;
}
@media only screen and (min-width: 1600px) {
    .contacts__title {
        min-width: 370px;
        font-size: 42px;
    }
}
.contacts__title span {
    color: #ef720e;
}
.contacts__box {
    padding-top: 40px;
    background: #474747;
    border: 16px solid #3b3b3d;
    color: #fff;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .contacts__box {
        position: absolute;
        padding-top: 96px;
        padding-left: 50px;
        padding-right: 50px;
        top: -540px;
        left: 0;
        width: 440px;
        height: 580px;
        text-align: inherit;
    }
}
.contacts li {
    list-style-type: none;
}
.contacts__item {
    margin-bottom: 25px;
}
.contacts__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contacts__icon {
    margin-right: 15px;
    width: 32px;
    height: 32px;
    fill: #9c9b9b;
}
.contacts__link {
    display: block;
    margin-bottom: 3px;
}
.contacts__ask {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
.contacts__text {
    text-align: center;
}
.contacts .btn {
    margin: 25px auto;
    color: #474747;
    background: #dadada;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    position: relative;
    -webkit-transition: all ease-in 0.2s;
         -o-transition: all ease-in 0.2s;
            transition: all ease-in 0.2s;
}
.contacts .btn:focus {
    outline: 0;
}
.contacts .btn:hover, .contacts .btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #000;
    color: #fff;
}
.contacts .social__list {
    position: absolute;
    width: 80px;
    height: 480px;
    top: -500px;
    left: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e6e6e6;
    -webkit-box-shadow: 0 2px 8.71px 4.29px rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 8.71px 4.29px rgba(0, 0, 0, 0.14);
}
.contacts .social__link {
    display: block;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.contacts .social__link:hover .fb__circle {
    fill: #3b5998;
}
.contacts .social__link:hover .bh {
    fill: #1769ff;
}
.contacts .social__link:hover .skype {
    fill: #00aaf2;
}
.contacts .social__link:hover .pin {
    fill: #cb1f24;
}
.contacts .social__img {
    width: 50px;
    max-height: 50px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    fill: #474747;
}
.fb__circle, .bh {
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.footer {
    padding: 20px 0;
    background: #000;
    color: #fff;
}
.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
.error-input {
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;
    margin: 0 auto;
    text-align: center;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.formBox {
    position: relative;
    background: #fff;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.formBox .form__line {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 7px;
    border: none!important;
    outline: none;
    font-size: 18px;
}
.formBox .btn {
    margin: 15px 0 5px 0;
    color: #fff;
}
.formBox .btn:hover {
    color: #000;
}
.video {
    max-width: 780px;
}
.video iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
.overlay {
    position: fixed;
    width: 100vw;
    height: 105vh;
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
@media only screen and (min-width: 992px) {
    .overlay {
        position: inherit;
        top: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        overflow-y: inherit;
        opacity: 1;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        visibility: visible;
        pointer-events: auto;
    }
}
.overlay__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (min-width: 992px) {
    .overlay__wrap {
        display: inherit;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
        -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
    }
}
.overlay__top {
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-preferred-size: 70vh;
    flex-basis: 70vh;
}
@media only screen and (min-width: 480px) {
    .overlay__top {
        -ms-flex-preferred-size: 67vh;
        flex-basis: 67vh;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 768px) {
    .overlay__top {
        -ms-flex-preferred-size: 75vh;
        flex-basis: 75vh;
    }
}
@media only screen and (min-width: 992px) {
    .overlay__top {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
.open {
    position: fixed;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
    overflow: hidden;
    z-index: 200;
}
@media only screen and (min-width: 480px) {
    .open {
        overflow-y: scroll;
    }
}
@media only screen and (min-width: 768px) {
    .open {
        overflow: inherit;
    }
}
@media only screen and (min-width: 992px) {
    .open {
        display: none;
    }
}
.burger {
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
    z-index: 1000;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    z-index: 100;
}
.burger:hover {
    cursor: pointer;
}
@media only screen and (min-width: 992px) {
    .burger {
        display: none;
    }
}
.burger i {
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before {
    margin-top: -12px;
}
.burger i:after {
    margin-top: 12px;
}
.burger.active i {
    background: transparent;
}
.burger.active i:before, .burger.active i:after {
    left: 0;
    width: 25px;
}
.burger.active i:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
}
.burger.active i:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -12px;
}
.slick-prev, .slick-next {
    width: 40px;
    height: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    z-index: 20;
    outline: none;
}
.slick-prev {
    left: -10px;
    background: url(../images/icons/svg/arr-back.svg) no-repeat center / cover;
}
.slick-next {
    right: 50px;
    background: url(../images/icons/svg/arr-next.svg) no-repeat center / cover;
}
.slick-prev:before, .slick-next:before {
    width: 0;
    height: 0;
}
.slick-prev:focus, .slick-next:focus {
    opacity: 1;
}
.slick-disabled {
    opacity: 0.05!important;
}
.slick-dots {
    text-align: left;
    padding-left: 50px;
    bottom: -20px;
    z-index: 20;
}
.slick-dots li {
    margin: 7px;
    width: 13px;
    height: 13px;
}
.slick-dots li button {
    background: #000;
    display: block;
    height: 5px;
    width: 5px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 0.75;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
    display: none;
}
.slick-dots li.slick-active button {
    opacity: 1;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    border: 1px solid #000;
    background: transparent;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@-webkit-keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
/* transition: all .3s cubic-bezier(0,1.56,.5,1.62); */
/*# sourceMappingURL=style.css.map */
