input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    line-height: normal;
    &[type="checkbox"], &[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }
    &[type="number"] {
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            height: auto;
        }
    }
    &[type="search"] {
        box-sizing: content-box;
        &::-webkit-search-cancel-button, &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

textarea {
  overflow: auto;
  resize: none;
}


::-webkit-input-placeholder { 
	font-size: 14px;
    color: #fff;
}
::-moz-placeholder { 
	font-size: 14px;
    color: #fff;
}
:-ms-input-placeholder { 
	font-size: 14px;
    color: #fff;
}
:-moz-placeholder {
	font-size: 14px;
    color: #fff;
}

#phone-error,
#name-error,
#email-error,
#message-error {
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: red!important;
    font-size: 10px;
    transition: all .3s linear;
}

.form__input {
    position: relative;
    .error {
        color: red;
        letter-spacing: 1px;
    }
}

option[disabled] {
    display: none;
}
