@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.statistics {
	padding: 80px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style-type: none;

		@media @tablet {
			flex-wrap: nowrap;
		}
	}
	&__item {
		max-width: 350px;
		margin: auto;
		margin-bottom: 80px;
		
		@media @mobile-land {
			flex-basis: 48%;
			max-width: inherit;
			margin-left: 0;
		}

		@media @tablet {
			flex-basis: 24%;
		}
	}
	&__wrap {
		height: 130px;
		border-bottom: 2px solid @lime;
	}
	&__img {
		display: block;
		margin: auto;
	}
	&__text {
		padding-top: 25px;
		margin: auto;
		max-width: 190px;
		font-size: 18px;
		text-align: center;
	}
	&__num {
		font-size: 21px;
		color: @green;

		@media @tablet {

		}
		@media @desktop {
			font-size: 24px;
		}
	}
}