@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.catalogFirst {
	padding-bottom: 80px;
	&__box {
		padding: 15px;
		position: relative;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	&__link {
		display: flex;
		width: 555px;
		height: 612px;
		background: #f7f6f6;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		align-self: center;
		object-fit: cover;
		object-position: center;
	}

	&__name {
		padding-top: 40px;
		padding-bottom: 10px;
		font-size: 24px;
		letter-spacing: 1.25px;
	}
	&__price {
		font-size: 24px;
		font-weight: 700;
		color: @green;
	}
	&__btn {
		display: block;
		margin-top: 20px;
		font-size: 23px;
		line-height: 1;
		letter-spacing: 1.25px;
	}

	&__img1 {
		position: absolute;
		top: 30px;	
		left: 450px;
	}
	&__img2 {
		position: absolute;
		bottom: 70px;	
		right: 30px;
	}
}