@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.stringBack {
	padding-top: 120px;

	&__top {
		padding: 15px;
		background: #7aa542;
		.container {
			position: relative;
		}
	}
	&__line {
		margin-top: -160px;
		padding-bottom: 20px;
		display: flex;
	}
	&__photo {
		padding-left: 45px;
		max-width: 280px;
	}
	&__content {
		padding-top: 245px;
		padding-left: 130px;
		max-width: 650px;
		color: #fff;
	}
	&__title {
		font-size: 72px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	&__text {
		padding-top: 35px;
		font-size: 24px;
		letter-spacing: .6px;
	}

	&__img1 {
		position: absolute;
		bottom: 20px;
		left: -370px;
	}
	&__img2 {
		position: absolute;
		bottom: -45px;
		left: -90px;
	}
	&__img3 {
		position: absolute;
		bottom: -60px;
		right: -120px;
	}
}



.stringBackStat {
	padding-top: 95px;

	&__list {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}
	&__item {
		border-top: 2px solid @lime;
		flex-basis: 24%;
	}

	&__text {
		padding-top: 25px;
		font-size: 18px;
		text-align: center;
	}
	&__num {
		font-size: 24px;
		color: @green;
	}
}