@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}



.catalog {
	&__list {
		padding: 60px 15px;
		display: flex;
		list-style-type: none;
	}

	&__item {
		flex-basis: 24%;
		margin-left: .5%;
		margin-right: .5%;
	}

	&__link {
		display: flex;
		width: 270px;
		height: 275px;
		background: #f7f6f6;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 233px;
		margin: auto;

		align-self: center;
		object-fit: cover;
		object-position: center;
	}

	&__name {
		padding-top: 25px;
		padding-bottom: 10px;
		font-size: 18px;
		letter-spacing: 1px;
	}
	&__price {
		font-size: 18px;
		font-weight: 700;
		color: @green;
	}
	&__btn {
		display: block;
		margin-top: 20px;
		font-size: 20px;
		line-height: 1;
		letter-spacing: 1.25px;
	}
}