@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.fabricBags {
	padding-top: 30px;
	padding-bottom: 30px;

	&__top {
		background: url(../images/ecoBag__back.jpg)no-repeat center/cover;
		min-height: 430px;
		overflow: hidden;
	}

	&__content {
		position: relative;
		padding-top: 70px;
		margin-left: 190px;
		max-width: 500px;
	}

	&__title {
		display: inline;
		font-size: 30px;
		letter-spacing: 1.7px;
	}
	&__text {
		display: inline;
		font-size: 30px;
		letter-spacing: .6px;
	}

	&__btn {
		display: block;
		margin-top: 50px;
		width: 220px;
		font-size: 30px;
		text-align: center;
	}

	&__img1 {
		position: absolute;
		top: -15px;
		left: -105px;
	}
	&__img2 {
		position: absolute;
		bottom: -125px;
		left: -195px;
	}
	&__img3 {
		position: absolute;
		bottom: -80px;
		right: -15px;
	}
	&__img4 {
		position: absolute;
		top: 40px;
		right: -450px;
	}
	
}