@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.catalogPlasticFree {
	padding-top: 10px;
	padding-bottom: 80px;
	
	&__strong {
		padding-bottom: 40px;
		font-size: 36.02px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1.5px;
	}
	&__accent {
		color: @green;
	}
	&__text {
		padding-bottom: 65px;
		font-size: 24px;
		text-align: center;
		letter-spacing: 1px;
	}

	&__box {
		padding: 15px;
		position: relative;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}
	
	&__item {
		width: 555px;
	}
	&__link {
		display: flex;
		height: 555px;
		background: #f7f6f6;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		align-self: center;
		object-fit: cover;
		object-position: center;
	}

	&__name {
		padding-top: 40px;
		padding-bottom: 10px;
		font-size: 24px;
		letter-spacing: 1.25px;
	}
	&__price {
		font-size: 24px;
		font-weight: 700;
		color: @green;
	}
	&__btn {
		display: block;
		margin-top: 20px;
		font-size: 23px;
		line-height: 1;
		letter-spacing: 1.25px;
	}
}