@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.freeMonday {
	padding: 80px 0;
	background: url(../images/banner.jpg)no-repeat center/cover;
	text-align: center;
	color: #fff;
	
	&__title {
		padding-bottom: 20px;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.8px;
	}
	&__text {
		font-size: 24px;
		letter-spacing: 1.3px;
	}

	&__slider {
		position: relative;
		margin-top: 75px;
		margin-left:  250px;
		margin-right: 250px;
	}

	&__accent {
		color: @lime;
		font-size: 48px;
		font-weight: 700;
	}
	&__fact {
		padding: 25px 0;
		font-size: 24px;
		letter-spacing: 1px;
	}
}