@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.catalogBerry {
	&__top {
		padding-top: 60px;
		padding-bottom: 60px;
		background: #7aa542;
		text-align: center;
	}

	&__title {
		padding-bottom: 15px;
		font-size: 36px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}
	&__text {
		padding-bottom: 40px;
		font-size: 24px;
		color: #fff;
	}
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
		border-radius: 50%;

		border-radius: 50%;
		width: 222px;
		height: 222px;
		object-fit: cover;
		object-position: center;
	}

	.slide__title {
		padding-top: 30px;
	}
	.slide__price {
		display: block;
	}

}