@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.footer {
	background: @green;
	color: #fff;
	&__box {
		padding: 25px 10px;
		display: flex;
		justify-content: space-between;
	}

	&__accent {
		display: block;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: .55px;
	}

	&__copy {
		padding-bottom: 30px;
		text-align: center;
	}

	&__line-top {
		padding-bottom: 10px;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 2px;
	}
	&__line-bottom {
		font-size: 20px;
		text-align: right;
	}

	&__link {
		transition: color .3s linear;
		&:hover {
			color: #181d23;
		}
	}
}

