@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.headerInner {
	padding-top: 10px;
	z-index: 2000;
	.logoBig-text {
		padding-top: 50px;
	}
}

.fixedInner {
	.logoBig-text {
		padding-top: 0;
	}
	.header__line-contact {
		@media @desktop {
			position: absolute;
			top: -240px;
			right: 0;
			height: 0;
			transition: all .3s linear;
		}
	}
}

.breadCrumbs {
	padding-top: 170px;
}

.breadcrumb {
	padding-left: 15px;
	list-style: none;

	li {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 2.2px;
		text-transform: uppercase;
	}
	a {
		display: block;
		padding-right: 50px;
		position: relative;		
		color: @green;
		
		&:before {
			content: '\e801';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			
			font-family: 'Fontello';
			font-size: 16px;
			color: #181d23;
		}
	}
}