@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.headerInner {
	background: @lime;
	z-index: 2000;

	.logoBig-text {
		transform: translateY(50px);
		transition: transform .3s linear;
	}

	.header__line-contact {
		transform: translateY(0px);
		transition: transform .3s linear;
	}
}

.fixedInner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	background: @lime;

	.header__top {
		padding: 0;
		position: relative;
	}

	.logoBig-text {
		transform: translateY(15px);
	}

	
	.header__top {
		@media @desktop {
			padding: 0;
		}
	}
	.header__line-contact {
		@media @desktop {
			transform: translateY(-120px);
			height: 0;
			right: 0;
			transition: transform .25s linear;
		}
	}
}

.breadCrumbs {
	padding-top: 170px;
}

.breadcrumb {
	padding-left: 15px;
	list-style: none;

	li {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 2.2px;
		text-transform: uppercase;
	}
	a {
		display: block;
		padding-right: 50px;
		position: relative;		
		color: @green;
		
		&:before {
			content: '\e801';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			
			font-family: 'Fontello';
			font-size: 16px;
			color: #181d23;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 55px 0;
	list-style-type: none;
	li {
		margin-left: 7.5px;
		margin-right: 7.5px;
		padding-top: 8px;
		min-width: 35px;
		min-height: 35px;
		border: 1px solid transparent;
		border-radius: 50%;
		text-align: center;
	}
	i {
		display: block;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 36px;
		color: @green;
		font-weight: 700;
	}
	.active {
		border: 1px solid @green;
	}
} 