@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.peoplePage {
	position: relative;

	.container {
		position: relative;
	}

	&__box {
		padding: 30px 0px;
		@media @desktop {
			padding: 42px 15px;
		}
	}

	&__title {
		font-size: 21px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		@media @tablet {
			font-size: 24px;
		}
		@media @desktop {
			font-size: 30px;
		}
		@media @desktop-xl {
			font-size: 36px;
		}

		strong {
			color: @green;
		}
	}
	
	&__slider {
		position: relative;
		padding: 30px 45px;

		@media @tablet {
			padding: 45px;
		}
	}

	&__slide {
		.peoplePage__imgWrap {
			border: 3px solid transparent;
			transition: all .3s linear;

			img {
				filter: grayscale(1);
			}
		}
		&:hover {
			.peoplePage__imgWrap {
				border: 3px solid @green;
				cursor: pointer;

				img {
					filter: grayscale(.5);
				}
			}
		}
	}

	.slick-current + .slick-active {
		.peoplePage__imgWrap {
			border: 3px solid @green;
			img {
				filter: grayscale(0);
			}
		}
		.people__name {
			color: @green;
			font-weight: 700;
		}
	}

	&__imgWrap {
		max-width: 260px;
		max-height: 245px;
		margin: auto;
		margin-bottom: 15px;
		overflow: hidden;
	}


	&__img {
		display: block;
		max-width: 100%;
		width: 290px;
		height: 275px;
		margin: auto;
		object-fit: cover;
		object-position: top;
		transition: transform .5s cubic-bezier(.87,.32,.69,.87);
	}
	&__name {
		font-size: 18px;
		text-align: center;
		@media @desktop {
			padding-left: 15px;
			text-align: inherit;
		}
	}

	.slick-prev,
	.slick-next {
		top: 50%;
		transform: translateY(-55%);

		&:before {
			font-size: 38px;
			color: @green;
		}
		&:hover, &:focus {
			&:before {
				color: @green;
				opacity: .35;
			}
		}
	}
	.slick-prev {
		left: 0px;
	}
	.slick-next {
		right: 0px; 
	}

	// .slick-dots {
	// 	display: flex!important;
	// 	justify-content: center;

	// 	position: absolute;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	top: inherit;
	// 	bottom: -13px;


	// 	li {
	// 		display: inline;
	// 		margin: 4px 8px;
	// 		margin-bottom: 10px;
	// 		counter-increment: li; 

	// 		button {

	// 			display: block;
	// 			height: 0;
	// 			width: 0;
	// 			padding: 15px;
	// 			border: 2px solid transparent;
	// 			border-radius: 50%;
	// 			background: transparent;
	// 			opacity: 0.75;
	// 			font-size: 0;
	// 			color: #fff;

	// 			&:before {
	// 				font-size: 0;
	// 				opacity: 0;
	// 				display: none;
	// 			}

	// 			&:after {
	// 				position: absolute;
	// 				top: 15.5px;
	// 				left: 13.5px;
	// 				content: counter(li); 
	// 				font-size: 14px;
	// 				color: #181d23;
	// 			}

	// 		}
	// 		&.slick-active button {
	// 			border: 2px solid @green;
	// 			opacity: 1;
	// 		}
	// 	}
	// }


	&__img1 {
		position: absolute;
		top: 315px;
		left: -125px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			top: 315px;
			left: -125px;
		}
		@media @desktop-xl-2 {
			top: 255px;
			left: -235px;
		}
	}
	&__img2 {
		position: absolute;
		top: 205px;
		left: -380px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			top: 205px;
			left: -380px;
		}
		@media @desktop-xl-2 {
			top: 205px;
			left: -380px;
		}
	}
	&__img3 {
		position: absolute;
		top: 50px;
		left: -100px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			top: 50px;
			left: -100px;
		}
		@media @desktop-xl-2 {
			top: 5px;
			left: -360px;
		}
	}
	&__img4 {
		position: absolute;
		top: 145px;
		left: -70px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			top: 145px;
			left: -70px;
		}
		@media @desktop-xl-2 {
			top: 295px;
			left: -350px;
		}
	}
}


.peoplePageAbout {
	.container {
		position: relative;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		padding: 21px 15px;
		margin-bottom: 85px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}

	&__picture {
		margin-top: 20px;
		width: 555px;
		height: 570px;
		overflow: hidden;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
		
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__content {
		width: 50%;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}

	&__title {
		font-size: 40px;
		line-height: 1.6;
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}
	&__experience {
		display: block;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}
	&__description {
		position: relative;
		padding: 50px 20px 50px 20px;
		font-size: 24px;
		line-height: 1.22;
		letter-spacing: 1.15px;
		color: #181d23;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}

		&:before {
			content: '';
			position: absolute;
			top: -30px;
			left: -30px;
			width: 88%;
			height: 150%;
			background: #f3f3f3;
			z-index: -1;
		}
	}


	&__img1 {
		position: absolute;
		top: 535px;
		right: -130px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}
	&__img2 {
		position: absolute;
		top: 50px;
		right: -365px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}
	&__img3 {
		position: absolute;
		top: -55px;
		right: -360px;

		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {

		}
	}
}


.peopleInterview {
	.container {
		position: relative;
	}

	dl {
		padding-left: 15px;
		font-size: 18px;

		span {
			display: inline-block;
			width: 110px;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			z-index: 10;
		}
	}

	dt {
		display: flex;
		padding-bottom: 15px;
		font-weight: 700;
		letter-spacing: 1px;
	}

	dd {
		display: flex;
		padding-bottom: 60px;
		font-weight: 300;
		line-height: 1.25;
		letter-spacing: 1px;
		span {
			padding-right: 55px;
		}
	}

	&__img1 {
		position: absolute;
		top: 315px;
		left: -385px;
	}
}


.peopleBonus {
	position: relative;
	padding-top: 55px;

	.container {
		position: relative;
	}

	&__picture {
		position: absolute;
		top: 0;
		left: -380px;
		max-width: 1131px;
		overflow: hidden;

		img {
			display: block;
			max-width: 100%;
			max-height: 580px;
			height: auto;
		}
	}


	&__content {
		img {
			margin-top: -95px;
			margin-left: -55px;
			position: relative;
			z-index: 10;
		}
	}

	&__title {
		position: relative;
		padding-top: 45px;
		padding-right: 15px;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;
		z-index: 12;
	}
	&__text {
		position: relative;
		float: right;
		max-width: 570px;
		padding-top: 53px;
		font-size: 24px;
		letter-spacing: 1.2px;
		z-index: 11;

		&:before {
			content: '';
			position: absolute;
			top: -30px;
			left: -28px;
			width: 87%;
			height: 108%;
			background: #f3f3f3;
			z-index: -1;
		}
	}


	&__recipe {
		position: relative;
		padding: 0 15px;
		margin-top: -255px;
		position: relative;
		z-index: 20;
		ul {
			padding-bottom: 22px;
		}
		li {
			position: relative;
			padding-bottom: 7px;
			font-size: 18px;
			letter-spacing: 1.5px;
			list-style-type: none;
			&:before {
				content: " - ";
			}
		}

		strong {
			font-size: 18px;
			letter-spacing: 0.9px;
		}

		blockquote {
			display: flex;
			padding: 17px 0;
			margin: 50px 0;

			border-top: 1px solid @green;
			border-bottom: 1px solid @green;
			letter-spacing: 1.22px;
			font-weight: 700;

			cite {
				min-width: 90px;
				margin-right: 20px;
				font-size: 18px;
				text-transform: uppercase;
			}
			p {
				font-size: 24px;
				line-height: 1;
			}
		}
	}	

	&__img1 {
		position: absolute;
		top: 130px;
		right: -255px;
	}
}


.peopleRecomend {
	padding-top: 100px;
	padding-bottom: 100px;
	.container {
		position: relative;
	}

	&__title {
		text-align: center;
		font-size: 30px;
		letter-spacing: 1.5px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		margin-top: 52px;
		margin-bottom: 5px;
		list-style-type: none;
	}

	&__item {
		margin-left: 15px;
		margin-right: 15px;
	}

	&__imgWrap {
		max-width: 290px;
		max-height: 275px;
		margin-bottom: 15px;
		overflow: hidden;
	}


	&__img {
		display: block;
		max-width: 100%;
		width: 290px;
		height: 275px;
		// height: auto;

		object-fit: cover;
		object-position: top;
		transition: transform .5s cubic-bezier(.87,.32,.69,.87);
	}
	&__name {
		padding-top: 25px;
		padding-bottom: 25px;
		font-size: 18px;
		letter-spacing: 1.45px;
	}

	&__img1 {
		position: absolute;
		top: -40px;
		left: -80px;
	}

	.btn {
		display: block;
		width: 170px;
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1.45px;
	}
}