@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


// list-style-type: '-';

.recipePage {
	.recipes__list {
		flex-wrap: wrap;
	}
	.recipes__item {
		margin-bottom: 50px;
	}

	.btn {
		display: block;
		width: 170px;
		text-align: center;
	}
}