.slick-prev,
.slick-next {
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	opacity: 1;
	transition: all .3s linear;
	z-index: 100;
	&:before {
		display: block;
		font-size: 65px;
		font-family: 'Fontello';
		color: #fff;
		transition: all .3s linear;
		z-index: 20;
	}
	&:hover, &:focus {
		&:before {
			color: @lime;
		}
	}
}
.slick-prev {
	left: -70px;	
}
.slick-next {
	right: -70px; 
}
.slick-prev:before {
	content: '\e805';
}
.slick-next:before {
	content: '\e806';
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	opacity: 1;
}
.slick-disabled {
	opacity: .35!important;
}
.slick-current, .slick-slide, .slick-active { 
	outline: none!important;
}