@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.orderPage {
	.breadCrumbs;

	h1 {
		.pageTitle;
	}

	&__box {
		display: flex;
		justify-content: space-between;

		> div {
			margin-right: 80px;
		}
		aside {
			max-width: 395px; 
		}
	}
	

}