@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}
.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1 0 0;
}
.header__top .descript {
	padding-right: 0;
	padding-left: 15px;
}
.header__top .right p {
	margin-left: 5px;
	margin-right: 5px;
}

.btn {
	transition: all 0.3s linear;
	background-size: 200% auto;
	background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
	
	&:hover {
		background-position: right center;
	}
}



@media only screen and (min-width: 1600px) {
	.header__top .right .menu li {
		padding: 0;
	}
}

#fixedMenu {
	position: fixed;
	z-index: 100;
}

.slicknav_menu .slicknav_icon-bar {
	background-color: #FF8334!important; 
}

// .slicknav_btn {
// 	position: fixed!important;
// 	right: 0px;
// }
// .slicknav_nav {
// 	margin-top: 0;
// 	top: 0;
// }


.news {
	padding: 30px 0;
	position: relative;
	overflow: hidden;

	h1 {
		color: inherit;
	}


	.slides {
		height: 0;
		width: 0;
		overflow: hidden;
		background: inherit;
	}

	&__decor1 {
		top: 30px;
		left: 0;
		position: absolute;
		max-width: 480px;
		z-index: -1;
		@media @tablet {
			top: 0;
			max-width: 580px;
		}
		@media @desktop {
			max-width: inherit;
		}
	}
	&__decor2 {
		top: 450px;
		right: 0;
		position: absolute;
		max-width: 200px;
		z-index: -1;
		@media @desktop {
			max-width: inherit;
		}
	}
	&__decor3 {
		display: none;
		z-index: -1;
		@media @desktop {
			display: block;
			top: 600px;
			right: 300px;
			position: absolute;
		}
	}
	&__decor4 {
		top: 1000px;
		left: 0px;
		position: absolute;
		max-width: 200px;
		z-index: -1;
		@media @tablet {
			top: 700px;
		}
		@media @desktop {
			max-width: inherit;
		}
	}
	&__decor5 {
		top: 1350px;
		right: 0;
		position: absolute;
		max-width: 300px;
		z-index: -1;
		@media @tablet {
			top: 1000px;
		}
		@media @desktop {
			top: 900px;
			max-width: inherit;
		}
	}
	&__decor6 {
		display: none;
		@media @desktop {
			display: block;
			top: 1600px;
			left: 70px;
			position: absolute;
			z-index: -1;
		}
	}
}

.news__title {
	padding-bottom: 20px;
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	@media @tablet {

	}
	@media @desktop {
		font-size: 40px;
		text-align: left;
		padding-bottom: 0;
	}
}

.article {
	max-width: 350px;
	margin: auto;
	box-shadow: 7.625px 11.741px 20px 2px rgba(65, 77, 86, 0.13);
	&:hover {
		cursor: pointer;
	}
	@media @tablet {
		max-width: inherit;
	}
}

.post {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	z-index: 10;
	overflow: hidden;

	@media @tablet {
		flex-direction: row;
		align-items: inherit;

	}
	@media @desktop {
		max-height: 240px;
	}
	&__img {
		max-height: 280px;
		overflow: hidden;
		background: #fff;
		@media @tablet {
			flex-basis: 50%;
			max-height: 240px;
		}
		@media @desktop {
			flex-basis: 45%;
		}
		@media @desktop-xl {
			flex-basis: 35%;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		width: 100%;
		background: #fff;
		cursor: auto;
		@media @tablet {
			flex-basis: 50%;
		}
		@media @desktop {
			flex-basis: 55%;
		}
		@media @desktop-xl {
			flex-basis: 65%;
		}
	}
	&__title {
		position: relative;
		padding: 15px 0;
		margin: auto;
		font-size: 20px;
		font-weight: 700;
		background: #01b3f0;
		color: #fff;
		text-align: center;
		
		@media @tablet {
			margin: 0;
			padding: 15px;
			text-align: left;
		}
		@media @desktop {
			font-size: 22px;
		}
		@media @desktop-xl {
			font-size: 23px;
		}
	}
	&__info {
		padding: 10px 5px 10px 15px;
		overflow: hidden;
		max-height: 127px;
		cursor: auto;
		@media @tablet {

		}
		@media @desktop {
			padding: 10px 10px 10px 35px;
		}
		@media @desktop-xl {
			padding: 10px 50px;
			height: 127px;
		}
	}
	time {
		font-size: 18px;
		font-weight: 700;
		color: #333333;
	}
	p {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.btn {
		display: block;
		width: 210px;
		margin: 15px auto;
		text-align: center;
		box-shadow: -1px 17px 28px -12px rgba(254, 138, 89, 0.7);
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		line-height: 50px;
		border-radius: 25px;
		transition: all .3s linear;
		background-size: 200% auto;
		&:hover {
			box-shadow: none;
			background-position: right center;
		}


		@media @tablet {
			margin-right: 0;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: 15px;
		}
		@media @desktop {
			margin-left: 35px;
		}
		@media @desktop-xl {
			margin-left: 50px;
		}
	}
}

.pagination {
	&-links, .nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media @tablet {
			justify-content: inherit;
		}
	}
	a {
		display: block;
		padding: 2px 12px;
		margin-right: 4px;
		font-size: 24px;
		background: #01b3f0;
		color: #fff;
		transition: all .3s linear;
		box-shadow: 7px 7px 15px 1.19px rgba(0, 0, 0, 0.17);

		@media @tablet {
			margin-right: 8px;
			font-size: 30px;
		}
		&:hover {
			box-shadow: none;
		}
	}

	.page-current, .current {
		font-size: 24px;
		display: block;
		padding: 2px 12px;
		margin-right: 4px;
		background: #ff8b2b;
		color: #fff;
		@media @tablet {
			margin-right: 8px;
			font-size: 30px;
		}
	}

	.nav-links {
		.prev, .next {
			display: block;
			position: relative;
			width: 37.52px;
			height: 38px;
			background: #01b3f0;
			@media @tablet {
				width: 40.89px;
				height: 46px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 11px;
				height: 21px;
			}	
		}

		.prev {
			&:before {
				background: url(../images/icons/arr-left.png);
			}	
		}
		.next {
			&:before {
				background: url(../images/icons/arr-right.png);
			}	
		}
	}
}


.postFull {
	position: relative;
	z-index: 10;
	font-family: @ff2;
	.container {
		background: #fff;
		box-shadow: 4px 4px 20px 1.19px rgba(0, 0, 0, 0.4);
	}
	&__box {
		padding: 25px 10px;
		@media @tablet {
			padding: 40px;
		}
	}
	&__title {
		padding-bottom: 10px;
		font-size: 20px;
		font-weight: 700;
		@media @tablet {
			font-size: 28px;
		}
	}
	&__img {
		margin: 15px 0;
		max-height: 300px;
		overflow: hidden;
		@media @tablet {
			margin: 25px 0;
			max-height: 500px;
		}
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	li {
		padding-bottom: 5px;
		list-style-position: inside;
	}

	p {
		padding-bottom: 15px;
		font-size: 17px;
	}
	ul {
		padding-bottom: 15px;
	}
	ol {
		padding-left: 0;
	}
	h1 {
		font-size: 26px;
		font-weight: 700;
		padding-bottom: 10px;
		text-align: left;
	}
	h2 {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		margin-bottom: 0;
		text-align: left;
	}
	h3 {
		font-size: 22px;
		font-weight: 700;
		padding-bottom: 10px;
	}
	h4 {
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 10px;
	}
	h5 {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 10px;
	}
	h6 {
		font-size: 16px;
		font-weight: 700;
		padding-bottom: 10px;
	}
}

.share {
	p {
		padding-top: 50px;
		font-size: 20px;
		font-weight: 700;
	}
}
