/*  ---------------------------------STYLED ARROWS-------------------------------------------------- */

.slick-prev,
.slick-next {
    color: #b8b8b8;
    padding: 100px 0;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
    color: $green;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "Fontello";
    font-size: 44px;
    color: #b8b8b8;
    opacity: 0.75;
}

.slick-prev {
    left: -80px;
}

.slick-prev:before {
    content: '\e80a';
}

.slick-next {
    right: -80px;
}

.slick-next:before {
    content: "\e809";
}

@media only screen and (max-width: 1199.98px) {
    .slick-prev,
    .slick-next {
        top: inherit;
        bottom: -80px;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 80px;
        opacity: 1;
    }
    .slick-prev {
        left: 5%;
        z-index: 20;
    }
    .slick-next {
        left: 20%;
        z-index: 20;
    }
}


@media only screen and (max-width: 567.98px) {
    .slick-prev {
        left: 20%;
        bottom: -100px;
    }
    .slick-next {
        left: inherit;
        right: 20%;
        bottom: -100px;
    }
}