@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamProLight/GothamProLight.woff2') format('woff2'), url('../fonts/GothamProLight/GothamProLight.woff') format('woff'), url('../fonts/GothamProLight/GothamProLight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamProMedium/GothamProMedium.woff2') format('woff2'), url('../fonts/GothamProMedium/GothamProMedium.woff') format('woff'), url('../fonts/GothamProMedium/GothamProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamProBold/GothamProBold.woff2') format('woff2'), url('../fonts/GothamProBold/GothamProBold.woff') format('woff'), url('../fonts/GothamProBold/GothamProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
@media (min-width: 768px) {
    .container {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.wrapper {
    max-width: 1920px;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
    resize: none;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}
.b-lazy {
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
video {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ONLY FOR IE11 */
@media all and (-ms-high-contrast: none) {
    .footer__list {
        overflow: hidden;
    }
    .footer__list a {
        display: inline-block;
        max-width: 100px;
    }
}
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
    text-decoration: none;
}
li {
    list-style-type: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    padding-right: 0 !important;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Gotham', sans-serif;
    background: #0e1015;
}
section {
    overflow: hidden;
    padding: 60px 0;
    background: #fff;
}
@media only screen and (min-width: 1200px) {
    section {
        padding: 80px 0;
    }
}
@media only screen and (min-width: 1600px) {
    section {
        padding: 105px 0;
    }
}
.header {
    position: relative;
    background: url(../images/hero-image-sm.jpg) no-repeat center / cover;
    min-height: 480px;
    max-height: 736px;
    height: 100vh;
    color: #fff;
}
@media only screen and (min-width: 480px) {
    .header {
        background: url(../images/hero-image.jpg) no-repeat center / cover;
        min-height: 480px;
        max-height: 600px;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        min-height: 480px;
        max-height: 850px;
        background: url(../images/hero-image-tablet.jpg) no-repeat right / cover;
    }
}
@media only screen and (min-width: 992px) {
    .header {
        min-height: 640px;
        max-height: 768px;
        background: url(../images/hero-image.jpg) no-repeat center / cover;
        background-attachment: fixed;
    }
}
@media only screen and (min-width: 1600px) {
    .header {
        min-height: 840px;
        max-height: 1000px;
    }
}
.header__content {
    padding: 10vh 2vh;
    max-width: 400px;
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    min-height: 640px;
}
@media only screen and (min-width: 768px) {
    .header__content {
        padding: 10vh 0;
        width: 470px;
        max-width: inherit;
        margin: auto;
    }
}
@media only screen and (min-width: 992px) {
    .header__content {
        margin-left: 15vh;
    }
}
@media only screen and (min-width: 1200px) {
    .header__content {
        width: 570px;
    }
}
@media only screen and (min-width: 1600px) {
    .header__content {
        padding: 150px 0;
        width: 670px;
    }
}
.header__text {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}
@media only screen and (min-width: 480px) {
    .header__text {
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .header__text {
        padding: 10px 0;
        font-size: 26px;
    }
}
@media only screen and (min-width: 992px) {
    .header__text {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1200px) {
    .header__text {
        font-size: 38px;
    }
}
@media only screen and (min-width: 1600px) {
    .header__text {
        font-size: 42px;
        padding: 20px 0;
    }
}
.header__author {
    font-size: 20px;
    font-weight: 400;
}
@media only screen and (min-width: 480px) {
    .header__author {
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .header__author {
        font-size: 22px;
    }
}
@media only screen and (min-width: 1200px) {
    .header__author {
        font-size: 25px;
    }
}
@media only screen and (min-width: 1600px) {
    .header__author {
        font-size: 28px;
    }
}
.header__arrow a {
    display: none;
}
@media only screen and (min-width: 992px) {
    .header__arrow a {
        position: absolute;
        bottom: 35px;
        left: 50%;
        -webkit-transition: translateX(-50%);
             -o-transition: translateX(-50%);
                transition: translateX(-50%);
        display: block;
        max-width: 89px;
        margin: 0 auto;
        -webkit-animation: arrow-bounce 3s infinite;
                animation: arrow-bounce 3s infinite;
    }
}
.headerInner {
    background: #000;
}
.headerInner img {
    margin: 0 auto;
    padding: 10px 0;
}
.about {
    position: relative;
    overflow: hidden;
}
.about__decor {
    display: none;
}
@media only screen and (min-width: 768px) {
    .about__decor {
        display: block;
        position: absolute;
        top: -45px;
        left: 0;
        width: 1913px;
        height: 1139px;
        background: url(../images/dots.png) center / cover;
    }
}
@media only screen and (min-width: 1200px) {
    .about__decor {
        top: 200px;
    }
}
.about .container {
    position: relative;
    z-index: 10;
}
.about__title {
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
@media only screen and (min-width: 992px) {
    .about__title {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1200px) {
    .about__title {
        font-size: 38px;
    }
}
@media only screen and (min-width: 1600px) {
    .about__title {
        padding-bottom: 50px;
        font-size: 41px;
    }
}
.about__subtitle {
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
}
.about__subtitle br {
    display: none;
}
@media only screen and (min-width: 768px) {
    .about__subtitle br {
        display: inline-block;
    }
}
@media only screen and (min-width: 1200px) {
    .about__subtitle {
        font-size: 22.7px;
    }
}
@media only screen and (min-width: 1600px) {
    .about__subtitle {
        padding-bottom: 55px;
    }
}
.about__text {
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .about__text {
        text-align: inherit;
        font-size: 24px;
    }
}
@media only screen and (min-width: 992px) {
    .about__text {
        font-size: 26px;
    }
}
@media only screen and (min-width: 1200px) {
    .about__text {
        font-size: 30px;
        padding: 0 50px;
    }
}
.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
    .about__list {
        padding: 0 50px;
    }
}
.about__time {
    width: 50%;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .about__time {
        width: 20%;
        text-align: inherit;
    }
}
@media only screen and (min-width: 992px) {
    .about__time {
        width: 16.6%;
    }
}
@media only screen and (min-width: 1200px) {
    .about__time {
        font-size: 22.5px;
    }
}
.about__slider {
    margin: 15px 0;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .about__slider {
        margin: 25px 0;
    }
}
.about__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.about__link {
    width: 100%;
    margin: 5px 0;
}
@media only screen and (min-width: 480px) {
    .about__link {
        width: 49%;
        margin: 5px 0.5%;
        max-height: 170px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 768px) {
    .about__link {
        width: 32%;
        max-height: 170px;
    }
}
@media only screen and (min-width: 1200px) {
    .about__link {
        width: 24%;
        max-height: 220px;
    }
}
.about__img {
    display: block;
    max-width: 100%;
    min-width: 280px;
    height: auto;
    margin: auto;
}
.about .current {
    color: #fe673a;
    font-weight: 500;
}
.about__proposal {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .about__proposal {
        padding-top: 50px;
        font-size: 22.7px;
    }
}
.about__btn {
    display: table;
    margin: 25px auto;
    width: 300px;
    border-radius: 35px;
    background-color: #fe673a;
    -webkit-box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.3);
    font-size: 17px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s linear;
         -o-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;
}
.about__btn:hover {
    background-color: #fe4007;
}
@media only screen and (min-width: 768px) {
    .about__btn {
        font-size: 20px;
        line-height: 68px;
    }
}
@media only screen and (min-width: 992px) {
    .about__btn {
        font-size: 22px;
        line-height: 75px;
        margin: 35px auto;
    }
}
.aboutInner {
    padding: 0;
    padding-bottom: 20px;
}
@media only screen and (min-width: 992px) {
    .aboutInner {
        padding: 20px 0;
    }
}
.move__img {
    max-width: 400px;
    margin: auto;
}
@media only screen and (min-width: 768px) {
    .move__img {
        margin-top: -40px;
        max-width: 450px;
    }
}
@media only screen and (min-width: 992px) {
    .move__img {
        margin-top: 0;
        max-width: 640px;
    }
}
@media only screen and (min-width: 1600px) {
    .move__img {
        max-width: 720px;
    }
}
.arrBack {
    z-index: 10;
}
@media only screen and (min-width: 992px) {
    .arrBack {
        position: absolute;
    }
}
.arrBack img {
    width: 60px;
}
.share {
    margin-top: 0;
}
@media only screen and (min-width: 1200px) {
    .share {
        margin-top: -150px;
        padding-bottom: 40px;
    }
}
@media only screen and (min-width: 1600px) {
    .share {
        margin-top: 0;
    }
}
.share p {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
.a2a_svg {
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.button_download {
    display: block;
    width: 35px;
    position: relative;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
}
.button_download:hover {
    opacity: 0.5;
}
.footer {
    padding: 30px 0;
    font-size: 18px;
    color: #fff;
    background: #0e1015;
}
.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .footer__box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    }
}
.footer__logo {
    margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
    .footer__logo {
        margin-bottom: 0;
    }
}
.footer__logo img {
    height: 70px;
}
.footer svg {
    max-width: 100%;
    margin-right: 10px;
    height: 50px;
    fill: #fff;
    -webkit-transition: fill 0.3s linear;
         -o-transition: fill 0.3s linear;
            transition: fill 0.3s linear;
}
.footer svg:hover {
    fill: #fe673a;
}
.footer__agency {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer__agency {
        margin-top: 0;
        font-size: 14px;
    }
}
.footer__agency img {
    max-width: 100px;
    margin-top: 5px;
}
@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes smoothScroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@keyframes antiSmoothScroll {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
    }
}
@-webkit-keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsed {
    0% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    70% {
        /* box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }
    100% {
        /* box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
/*# sourceMappingURL=style.css.map */
