@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1:                 'Proxima Nova',Fallback, sans-serif;
@ff2:                 'Proxima Nova',Fallback, sans-serif;

@black: 							#191c26;
@lime: 								#abc12e;
@gray:                #e8e8e8;
@blue:                #0b355b;


@text-color: 						@black;
@text-margin: 					0 0 0rem;

@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaLight/ProximaNovaLight.woff2') format('woff2'), 
         url('../fonts/ProximaNovaLight/ProximaNovaLight.woff') format('woff'), 
         url('../fonts/ProximaNovaLight/ProximaNovaLight.eot') format('eot');

    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff2') format('woff2'), 
         url('../fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'), 
         url('../fonts/ProximaNovaRegular/ProximaNovaRegular.eot') format('eot');
         
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaBold/ProximaNovaBold.woff2') format('woff2'), 
         url('../fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'), 
         url('../fonts/ProximaNovaBold/ProximaNovaBold.eot') format('eot');
         
    font-weight: 700;
    font-style: normal;

}