.bg-arr_lef_lightt {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -10px -154px;
}

.bg-arr_left {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -59px -154px;
}

.bg-arr_rightt {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -108px -154px;
}

.bg-arr_rightt_light {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -157px -154px;
}

.bg-decor_line {
    width: 258px; height: 11px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}

.bg-decor_title {
    width: 94px; height: 24px;
    background: url('../images/icons/css_sprites.png') -10px -41px;
}

.bg-envelope {
    width: 24px; height: 18px;
    background: url('../images/icons/css_sprites.png') -124px -41px;
}

.bg-fb {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -10px -85px;
}

.bg-gplus {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -79px -85px;
}

.bg-linkeldin {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -148px -85px;
}

.bg-phone {
    width: 19px; height: 33px;
    background: url('../images/icons/css_sprites.png') -206px -154px;
}

.bg-phone2 {
    width: 18px; height: 18px;
    background: url('../images/icons/css_sprites.png') -168px -41px;
}

.bg-skype {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -217px -85px;
}

.bg-usa {
    width: 21px; height: 11px;
    background: url('../images/icons/css_sprites.png') -206px -41px;
}