
.bg-arr_lef_lightt {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -226px -41px;
}

.bg-arr_left {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -226px -112px;
}

.bg-arr_rightt {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -288px -10px;
}

.bg-arr_rightt_light {
    width: 29px; height: 45px;
    background: url('../images/icons/css_sprites.png') -288px -75px;
}

.bg-chart1 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -10px -41px;
}

.bg-chart2 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -82px -41px;
}

.bg-chart3 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -154px -41px;
}

.bg-chart4 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -10px -112px;
}

.bg-chart5 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -82px -112px;
}

.bg-chart6 {
    width: 52px; height: 51px;
    background: url('../images/icons/css_sprites.png') -154px -112px;
}

.bg-decor_line {
    width: 258px; height: 11px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}

.bg-decor_title {
    width: 81px; height: 7px;
    background: url('../images/icons/css_sprites.png') -10px -252px;
}

.bg-envelope {
    width: 24px; height: 18px;
    background: url('../images/icons/css_sprites.png') -288px -193px;
}

.bg-fb {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -10px -183px;
}

.bg-gplus {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -79px -183px;
}

.bg-linkeldin {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -148px -183px;
}

.bg-phone {
    width: 19px; height: 33px;
    background: url('../images/icons/css_sprites.png') -288px -140px;
}

.bg-phone2 {
    width: 18px; height: 18px;
    background: url('../images/icons/css_sprites.png') -10px -279px;
}

.bg-skype {
    width: 49px; height: 49px;
    background: url('../images/icons/css_sprites.png') -217px -183px;
}