@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	position: relative;
	background: url(../images/hero-back-mob.jpg)no-repeat center/cover;

	@media @tablet {
		background: url(../images/hero-back.jpg)no-repeat center/cover;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 50%;
		transform: translateX(-50%);
		width: 164px;
		height: 50px;
		background: url(../images/decor-section-header.png)no-repeat;
	}

	&__top {
		padding: 5px 0;
		background: @blue;

		@media @desktop {
			padding: 10px 0;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		width: 115px;
		@media @desktop-xl-2 {
			width: 189px;
		}
	}
	&__list {
		margin-top: 5vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media @mobile-land {
			margin-top: 4vh;
		}
		@media @desktop {
			margin-top: 0;
			flex-direction: row;
		}
	}
	&__item {
		margin-bottom: 5vh;
		list-style: none;
		@media @mobile-land {
			margin-bottom: 4.5vh;
		}
		@media @desktop {
			margin-bottom: 0;
			margin-right: 35px;
		}
	}
	&__link {
		position: relative;
		padding-bottom: 5px;
		font-size: 19px;

		@media @desktop {
			font-size: 16px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			height: 2px;

			background-color: @lime;
			transition: transform .3s  linear;		
			transform: scaleX(0);
			transform-origin: bottom right; 
			z-index: 10;
		}
		&:hover {
			transition: all .5s;
			&:after{
				-webkit-transform-origin: bottom left; 
				-ms-transform-origin: bottom left;
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
	} 
	&__phone {
		display: none;
		@media @desktop {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 180px;
		}
		&-mob {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 170px;
			.bg-phone {
				height: 23px;
				background: url(../images/icons/phone.png)no-repeat right;
				background-size: contain;
			}
			@media @desktop {
				display: none;
			}
		}
	}

	&__social-mob {
		padding: 0 10px;
		display: flex;
		justify-content: space-around;
		list-style: none;
		@media @desktop {
			display: none;
		}
	}

	&__center {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 93vh;

		@media @tablet {
			min-height: 590px;
		}
		@media @desktop-xl {
			min-height: 650px;
		}
		@media @desktop-xl-2 {
			min-height: 945px;
		}
	}

	&__title {
		padding-bottom: 15px;
		font-size: 22px;
		font-weight: 700;

		@media @mobile-xl {
			font-size: 25px;
		}
		@media @mobile-land {
			padding-top: 20vh;
		}
		@media @tablet {
			padding-top: 0;
			font-size: 32px;
			line-height: 1;
		}
		@media @desktop {
			font-size: 40px;
		}
		@media @desktop-xl {
			padding-bottom: 15px;
			font-size: 46px;
		}
		@media @desktop-xl-2 {
			padding-bottom: 25px;
			font-size: 52px;
		}
	}
	&__subtitle {
		font-size: 21px;
		@media @tablet {
			font-size: 26px;
		}
		@media @desktop {
			font-size: 30px;
		}
	}

	.btn {
		margin: 25px auto 0 auto;
	}

	br {
		display: none;
		@media @mobile-land {
			display: inline-block;
		}
	}
}


.header__fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	transform: translateZ(0);
	will-change: transform;
	transition: transform .5s cubic-bezier(.72,-0.04,.14,1.03);

	z-index: 200;

	@media @desktop-xl-2 {
		height: 86px;
	}
}
.header__fixed.is-hidden {
	transform: translateY(-120%);
}
.header__fixed2.fixed {
	position: fixed;
	top: 60px;

	@media @desktop-xl-2 {
		top: 86px;
	}
}

.header__fixed2.slide-up {
	transform: translateY(-60px);

	@media @desktop-xl-2 {
		transform: translateY(-86px);
	}
}