@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.proposal {
	position: relative;
	background: #e8e8e8;
	color: #000;

	.wrapper {
		position: relative;
	}

	&__box {
		padding: 120px;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}

	&__title {
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		font-size: 40px;
		font-weight: 700;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			.bg-decor_line
		}
	}
	&__text {
		padding-bottom: 20px;
		font-size: 18px;
		font-weight: 300;
	}
	&__accent {
		font-size: 20px;
		font-weight: 700;
	}
	&__list {
		padding-left: 23px;
		margin: 15px 0;
		font-size: 18px;
		font-weight: 300;
	}
	&__photo {
		position: relative;
		padding-left: 80px;
	}
	&__img {
		position: relative;
		width: 790px;
		z-index: 10;
		img {
			box-shadow: 6.103px 11.478px 13px 0px rgba(0, 0, 0, 0.32);
		}
	}
	&__decor-left {
		position: absolute;
		top: 160px;
		left: 50px;
	}
	&__decor-right {
		position: absolute;
		top: -120px;
		left: 120px;
		z-index: 0;
	}
	
	abbr {
		text-decoration: none;
	}
	.btn {
		color: #fff;
	}
}