@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer {
	padding: 50px 0;
	color: #9fb9c7;
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__col {
		width: 30%;
	}
	&__title {
		font-size: 26px;
		font-weight: 700;
	}
	&__contact {
		padding-top: 20px;
		list-style: none;
		&-link {
			display: flex;
			margin-bottom: 15px;
			font-size: 18px;
			div {
				margin-right: 10px;
			}
		}
	}
	&__logo {
		margin-top: 90px;
	}

	&__social {
		padding-top: 20px;
		display: flex;
		list-style: none;
		&-item {
			margin-right: 15px;
		}
	}
	&__copy {
		padding-top: 120px;
	}
	
	form {
		margin-top: 30px;
		max-width: 290px;
	}
	.form__line {
		padding: 10px 10px 10px 25px;
		margin-bottom: 10px;
		width: 100%;
		outline: none;
		background-image: linear-gradient( 90deg, rgb(29,39,44) 0%, rgb(24,33,37) 100%);
		box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.35);
		border: none;
		color: #fff;
	}
	.btn {
		border: none;
		width: 100%;
		color: #fff;
	}

}
