@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Russo';
    src: url('../fonts/Russo/Russo.woff2') format('woff2'), url('../fonts/Russo/Russo.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
input {
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 3px;
}
.wrapper {
    max-width: 1920px;
    margin: auto;
}
@media (min-width: 768px) {
    .container, .wrapper {
        width: 725px;
    }
}
@media (min-width: 992px) {
    .container, .wrapper {
        width: 945px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        width: inherit;
    }
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    /* 1 */
            text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
button, input {
    /* 1 */
    overflow: visible;
}
button, select {
    /* 1 */
    text-transform: none;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
textarea {
    overflow: auto;
    resize: none;
}
[type='checkbox'], [type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}
[hidden] {
    display: none;
}
.slider {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
.b-lazy {
    -webkit-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}
.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* ONLY FOR IE11 */
/* ONLY FOR EDGE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media only screen and (min-width: 320px) {
    .container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}
a {
    outline: none;
    color: inherit;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-right: 0!important;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto', Fallback, sans-serif;
}
*::-moz-selection {
    background-color: #6b6c70;
    color: #fff;
}
*::selection {
    background-color: #6b6c70;
    color: #fff;
}
section {
    padding: 60px 0;
}
@media only screen and (min-width: 1200px) {
    section {
        padding: 100px 0;
    }
}
.wrapLine {
    position: relative;
    overflow: hidden;
}
.wrapLine:before {
    content: '';
    position: absolute;
    top: 0;
    left: -160px;
    background: -webkit-repeating-linear-gradient(left, #fff, #fff 80px, #eaeaea 80px, #eaeaea 81px);
    background:      -o-repeating-linear-gradient(left, #fff, #fff 80px, #eaeaea 80px, #eaeaea 81px);
    background:         repeating-linear-gradient(90deg, #fff, #fff 80px, #eaeaea 80px, #eaeaea 81px);
    height: 100%;
    width: 100%;
    z-index: -1;
}
@media only screen and (min-width: 992px) {
    .wrapLine:before {
        background: -webkit-repeating-linear-gradient(left, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
        background:      -o-repeating-linear-gradient(left, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
        background:         repeating-linear-gradient(90deg, #fff, #fff 260px, #eaeaea 260px, #eaeaea 261px);
    }
}
.section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media only screen and (min-width: 992px) {
    .section__box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 992px) {
    .section__content {
        width: 30%;
    }
}
@media only screen and (min-width: 1200px) {
    .section__content {
        width: 25%;
    }
}
.section__gallery {
    margin-top: 30px;
}
@media only screen and (min-width: 992px) {
    .section__gallery {
        margin-top: inherit;
        width: 65%;
    }
}
@media only screen and (min-width: 1200px) {
    .section__gallery {
        width: 70%;
    }
}
.section__title {
    padding-top: 15px;
    position: relative;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
}
@media only screen and (min-width: 768px) {
    .section__title {
        font-size: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .section__title {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 15px;
        text-align: inherit;
        border: 3px solid #000;
    }
}
@media only screen and (min-width: 1200px) {
    .section__title {
        font-size: 35px;
    }
}
@media only screen and (min-width: 1200px) {
    .section__title {
        padding-top: 50px;
        padding-bottom: 55px;
        margin-bottom: 30px;
        margin-left: 5px;
    }
}
@media only screen and (min-width: 1600px) {
    .section__title {
        min-width: 445px;
        padding-top: 65px;
        padding-bottom: 70px;
        font-size: 42px;
    }
}
.section__title span {
    color: #ef720e;
}
.section__text {
    max-width: 500px;
    font-size: 18px;
    color: #9c9c9c;
    background: #fff;
}
@media only screen and (min-width: 992px) {
    .section__text {
        max-width: inherit;
    }
}
@media only screen and (min-width: 1600px) {
    .section__text {
        font-size: 19px;
    }
}
.btn {
    display: block;
    position: relative;
    width: 170px;
    padding: 11px 0;
    margin: 30px 0;
    background: #000;
    color: #fff;
    text-align: center;
    overflow: hidden;
    outline: none;
}
.btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    height: 100%;
    width: 3em;
    -webkit-transform: skewX(-45deg) translateX(0);
        -ms-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.btn:hover {
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn:hover:after {
    -webkit-transform: skewX(-45deg) translateX(22em);
        -ms-transform: skewX(-45deg) translateX(22em);
            transform: skewX(-45deg) translateX(22em);
    -webkit-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
br {
    display: none;
}
@media only screen and (min-width: 992px) {
    br {
        display: block;
    }
}
.fb {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.fb:hover {
    fill: #3b5998;
}
.fb-bg {
    display: block;
    width: 46px;
    height: 46px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.fb-bg:hover {
    fill: #3b5998;
}
::-webkit-input-placeholder {
    font-size: 18px;
}
::-moz-placeholder {
    font-size: 18px;
}
:-ms-input-placeholder {
    font-size: 18px;
}
:-moz-placeholder {
    font-size: 18px;
}
.header__box {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (min-width: 1600px) {
    .header__box {
        height: 86px;
    }
}
.header__logo {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
@media only screen and (min-width: 992px) {
    .header__logo {
        -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    }
}
@media only screen and (min-width: 1200px) {
    .header__logo {
        -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
    }
}
.header .nav {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}
@media only screen and (min-width: 992px) {
    .header .nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
        -webkit-box-ordinal-group: inherit;
        -ms-flex-order: inherit;
        order: inherit;
    }
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.header__item {
    margin-left: 20px;
}
@media only screen and (min-width: 1200px) {
    .header__item {
        margin-left: 35px;
    }
}
.header__link {
    display: inline-block;
    position: relative;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
         -o-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
            transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
}
@media only screen and (min-width: 992px) {
    .header__link:after {
        content: '';
        position: absolute;
        top: 55%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #000;
        -webkit-transition: -webkit-transform 0.3s  linear;
                transition: -webkit-transform 0.3s  linear;
             -o-transition:         transform 0.3s  linear;
                transition:         transform 0.3s  linear;
                transition:         transform 0.3s  linear, -webkit-transform 0.3s  linear;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
                transform-origin: bottom right;
        z-index: 10;
    }
}
.header__link:hover {
    -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.header__link:hover:after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.header .localization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header .localization__item {
    margin-left: 5px;
}
@media only screen and (min-width: 1200px) {
    .header .localization__item {
        margin-left: 10px;
    }
}
.header__phone {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header li {
    list-style: none;
}
.header .btn {
    display: none;
}
@media only screen and (min-width: 992px) {
    .header .btn {
        display: block;
        overflow: hidden;
    }
}
.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    background-color: transparent;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition:         transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03), -webkit-transform 0.5s cubic-bezier(0.72, -0.04, 0.14, 1.03);
    z-index: 200;
}
.header__fixed.is-hidden {
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
}
.hero {
    position: relative;
    overflow: hidden;
    min-height: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../images/hero__back.jpg) no-repeat center / cover;
}
@media only screen and (min-width: 1600px) {
    .hero {
        min-height: 890px;
    }
}
.hero__title {
    padding-bottom: 25px;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Russo', Fallback, sans-serif;
    text-transform: uppercase;
}
@media only screen and (min-width: 1600px) {
    .hero__title {
        padding-bottom: 35px;
        font-size: 50px;
    }
}
.hero__title-accent {
    display: block;
    font-size: 50.5px;
}
@media only screen and (min-width: 1600px) {
    .hero__title-accent {
        font-size: 60px;
    }
}
.hero__subtitle {
    padding-bottom: 10px;
    font-size: 21px;
}
@media only screen and (min-width: 1600px) {
    .hero__subtitle {
        padding-bottom: 20px;
        font-size: 22px;
    }
}
.hero .btn {
    display: table;
    position: relative;
    padding: 15px 0;
    width: 275px;
    font-size: 18px;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.hero .btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
    right: 30px;
    width: 18px;
    height: 14px;
    background: url(../images/icons/cup.png) no-repeat;
}
.container {
    position: relative;
}
.decoration__img {
    display: none;
}
@media only screen and (min-width: 1200px) {
    .decoration__img {
        display: block;
        position: absolute;
        -webkit-transition: -webkit-transform 0.4s linear;
                transition: -webkit-transform 0.4s linear;
             -o-transition:         transform 0.4s linear;
                transition:         transform 0.4s linear;
                transition:         transform 0.4s linear, -webkit-transform 0.4s linear;
    }
    .decoration__img:hover {
        -webkit-transform: scale(1.09) !important;
            -ms-transform: scale(1.09) !important;
                transform: scale(1.09) !important;
    }
}
.decoration__imgBig {
    position: absolute;
    top: 0;
    right: 0;
    width: 550px;
}
@media only screen and (min-width: 1200px) {
    .decoration__imgBig {
        display: none;
    }
}
.decoration__img1 {
    top: 280px;
    left: 450px;
}
@media only screen and (min-width: 1365px) {
    .decoration__img1 {
        top: 60px;
        left: -80px;
    }
}
@media only screen and (min-width: 1600px) {
    .decoration__img1 {
        left: -160px;
    }
}
.decoration__img2 {
    top: 350px;
    left: -35px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img2 {
        top: 400px;
        left: -160px;
    }
}
.decoration__img3 {
    top: 375px;
    left: 150px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img3 {
        top: 465px;
        left: 60px;
    }
}
.decoration__img4 {
    top: 320px;
    left: 350px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img4 {
        top: 400px;
    }
}
.decoration__img5 {
    top: 205px;
    right: 520px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img5 {
        right: 450px;
    }
}
.decoration__img6 {
    top: 140px;
    right: 480px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img6 {
        right: 420px;
    }
}
.decoration__img7 {
    top: 35px;
    right: 400px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img7 {
        right: 345px;
    }
}
.decoration__img8 {
    top: 90px;
    right: 440px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img8 {
        right: 360px;
    }
}
.decoration__img9 {
    top: 90px;
    right: 310px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img9 {
        top: 110px;
        right: 260px;
    }
}
.decoration__img10 {
    top: 200px;
    right: 420px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img10 {
        top: 200px;
        right: 384px;
    }
}
.decoration__img11 {
    top: 235px;
    right: 350px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img11 {
        top: 255px;
        right: 320px;
    }
}
.decoration__img12 {
    top: 155px;
    right: 155px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img12 {
        right: 100px;
    }
}
.decoration__img13 {
    top: 240px;
    right: 195px;
    z-index: 10;
}
@media only screen and (min-width: 1600px) {
    .decoration__img13 {
        right: 140px;
    }
}
.decoration__img14 {
    top: 290px;
    right: 325px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img14 {
        top: 320px;
        right: 215px;
    }
}
.decoration__img15 {
    top: 245px;
    right: 70px;
    z-index: 10;
}
@media only screen and (min-width: 1600px) {
    .decoration__img15 {
        top: 245px;
        right: 10px;
    }
}
.decoration__img16 {
    top: 75px;
    right: -120px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img16 {
        right: -180px;
    }
}
.decoration__img17 {
    top: 290px;
    right: 5px;
    z-index: 10;
}
@media only screen and (min-width: 1600px) {
    .decoration__img17 {
        right: -35px;
    }
}
.decoration__img18 {
    top: -95px;
    right: -105px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img18 {
        top: 135px;
        right: -100px;
    }
}
.decoration__img19 {
    top: 330px;
    right: 190px;
    z-index: 10;
}
@media only screen and (min-width: 1600px) {
    .decoration__img19 {
        top: 315px;
        right: -150px;
    }
}
.decoration__img20 {
    top: -20px;
    right: -140px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img20 {
        top: 55px;
        right: -280px;
    }
}
.decoration__img21 {
    top: 235px;
    right: -30px;
    z-index: 10;
}
@media only screen and (min-width: 1600px) {
    .decoration__img21 {
        top: 275px;
        right: -220px;
    }
}
.decoration__img22 {
    top: 75px;
    right: -210px;
}
@media only screen and (min-width: 1600px) {
    .decoration__img22 {
        top: 75px;
        right: -310px;
    }
}
.decoration__img23 {
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img23 {
        display: block;
        top: 45px;
        right: -360px;
    }
}
.decoration__img24 {
    top: -150px;
    right: 0;
    z-index: 1000;
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img24 {
        display: block;
        right: -360px;
        top: -60px;
        z-index: 1000;
    }
}
.decoration__img25 {
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img25 {
        display: block;
        top: -50px;
        right: -380px;
        z-index: 1003;
    }
}
.decoration__img26 {
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img26 {
        display: block;
        top: -280px;
        right: -380px;
        z-index: 1002;
    }
}
.decoration__img27 {
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img27 {
        display: block;
        top: -290px;
        right: -340px;
        z-index: 1003;
    }
}
.decoration__img28 {
    display: none;
}
@media only screen and (min-width: 1600px) {
    .decoration__img28 {
        display: block;
        top: -280px;
        right: -380px;
        z-index: 1000;
    }
}
.arrow__link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -150px;
}
@media only screen and (min-width: 1200px) {
    .portfolio__box {
        padding: 0 20px;
    }
}
@media only screen and (min-width: 1600px) {
    .portfolio__box {
        padding: 0 20px;
    }
}
@media only screen and (min-width: 1920px) {
    .portfolio__box {
        padding: 0 100px;
    }
}
.portfolio__title {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__title {
        padding-left: 80px;
    }
}
@media only screen and (min-width: 1600px) {
    .portfolio__gallery {
        margin-left: 35px;
    }
}
.portfolio__list {
    margin-top: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media only screen and (min-width: 992px) {
    .portfolio__list {
        -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
    }
}
.portfolio__img {
    width: 290px;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
}
@media only screen and (min-width: 1200px) {
    .portfolio__img {
        width: 370px;
    }
}
@media only screen and (min-width: 1365px) {
    .portfolio__img {
        width: 410px;
    }
}
@media only screen and (min-width: 1600px) {
    .portfolio__img {
        width: 520px;
    }
}
@media only screen and (min-width: 1920px) {
    .portfolio__img {
        width: 570px;
    }
}
.portfolio__figure {
    position: relative;
    max-height: 370px;
    margin-left: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    color: #fff;
}
@media only screen and (min-width: 1200px) {
    .portfolio__figure {
        margin-left: 20px;
        margin-bottom: 30px;
    }
}
.portfolio__figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
.portfolio__figure:hover:before {
    background: rgba(0, 0, 0, 0.55);
}
.portfolio__figure:hover .portfolio__caption {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
}
.portfolio__caption {
    position: absolute;
    max-width: 400px;
    top: 30px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
         -o-transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
            transition: all 0.3s cubic-bezier(0, 1.56, 0.5, 1.62);
}
@media only screen and (min-width: 1200px) {
    .portfolio__caption {
        top: -20px;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        left: 20px;
        max-width: 480px;
    }
}
.portfolio .portfolioLogo__img {
    display: none;
}
@media only screen and (min-width: 1200px) {
    .portfolio .portfolioLogo__img {
        display: block;
    }
}
.portfolio__titles {
    font-size: 23px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__titles {
        font-size: 27px;
    }
}
.portfolio__text {
    padding: 15px 0;
    font-size: 18px;
}
@media only screen and (min-width: 1600px) {
    .portfolio__text {
        font-size: 19px;
    }
}
.portfolio__link {
    display: table;
    position: relative;
    font-size: 18px;
}
.portfolio__link svg {
    fill: #fff;
}
.portfolio__link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 25px;
    background: url(../images/icons/svg/arr-left.svg) no-repeat;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.portfolio__link:hover:after {
    right: -50px;
}
.portfolio .btn {
    padding: 12px 0;
    margin: 25px auto;
    width: 200px;
}
@media only screen and (min-width: 992px) {
    .portfolio .btn {
        margin-top: 10px;
        margin-left: 20px;
    }
}
.title-animate {
    background: #fff;
}
.partners {
    padding: 100px 60px;
}
.partners__box {
    padding: 30px 155px 60px 85px;
    background: #f4f4f4;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
}
.partners__title {
    margin-top: 25px;
    margin-right: 75px;
    background: #f4f4f4;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 75px;
}
.partners__text {
    padding-left: 5px;
    background: #f4f4f4;
}
.partners__list {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.partners__item {
    position: relative;
    width: 18%;
    padding: 65px;
    min-height: 100px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
.partners__item:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 300%;
    height: 300%;
    -webkit-transform: translate(-100%, -100%) rotate(45deg);
        -ms-transform: translate(-100%, -100%) rotate(45deg);
            transform: translate(-100%, -100%) rotate(45deg);
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53);
            transition: -webkit-transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53);
         -o-transition:         transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53);
            transition:         transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53);
            transition:         transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53), -webkit-transform 0.45s cubic-bezier(0.47, 0.78, 0.48, 0.53);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
}
.partners__item:hover:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.partners__item:hover img {
    -webkit-filter: grayscale(0) brightness(100%) contrast(1);
            filter: grayscale(0) brightness(100%) contrast(1);
}
.partners__item:hover .tvbet {
    -webkit-filter: grayscale(0%) brightness(100%) invert(0.1);
            filter: grayscale(0%) brightness(100%) invert(0.1);
}
.partners__img {
    max-width: 175px;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    -webkit-filter: grayscale(100%) brightness(75%) contrast(2);
            filter: grayscale(100%) brightness(75%) contrast(2);
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    z-index: 10;
}
.partners .tvbet {
    -webkit-filter: grayscale(100%) brightness(0) contrast(2) invert(0);
            filter: grayscale(100%) brightness(0) contrast(2) invert(0);
}
.consult {
    margin-top: -25px;
    min-height: 380px;
    background: url(../images/fornSection__back.jpg) no-repeat center / cover;
}
.consult .container {
    position: relative;
}
.consult .form {
    position: absolute;
    top: -110px;
    right: 190px;
    width: 390px;
    padding: 55px 20px 55px 20px;
    text-align: center;
    color: #fff;
    background: #3b3b3d;
    -webkit-box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.35);
}
.consult .form__title {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 42px;
    font-weight: 700;
}
.consult .form__text {
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
}
.consult .form__line {
    display: block;
    width: 295px;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px 0;
    text-align: center;
}
.consult .form__line-top {
    margin-top: 30px;
}
.consult .form .btn {
    width: 290px;
    padding: 15px 0;
    margin: 20px auto;
    border: none;
    background: #ef720e;
}
.team {
    padding: 100px 45px;
}
.team__box {
    padding: 268px 0 0 0;
    padding-right: 73px;
}
.team__title {
    padding-left: 80px;
    padding-right: 30px;
}
.team__text {
    padding-left: 5px;
}
@media only screen and (min-width: 1600px) {
    .team__gallery {
        margin-right: 55px;
    }
}
.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.team__item {
    position: relative;
    width: 210px;
    margin-left: 35px;
    min-height: 210px;
    padding-top: 10px;
    padding-left: 18px;
    margin-bottom: 35px;
    background: #fff;
    -webkit-box-shadow: 2.817px 5.298px 12px 0 rgba(0, 0, 0, 0.13);
            box-shadow: 2.817px 5.298px 12px 0 rgba(0, 0, 0, 0.13);
    list-style: none;
}
@media only screen and (min-width: 1365px) {
    .team__item {
        width: 250px;
        margin-bottom: 160px;
    }
}
@media only screen and (min-width: 1600px) {
    .team__item {
        width: 300px;
    }
}
.team__person-name {
    font-size: 23px;
}
.team__person-position {
    font-size: 10px;
}
.team__person-photo {
    position: absolute;
    bottom: -2px;
    right: -45px;
}
.team__person-img {
    max-height: 166px;
}
@media only screen and (min-width: 1365px) {
    .team__person-img {
        max-height: 260px;
    }
}
.team__person-social {
    position: absolute;
    bottom: 25px;
    left: 30px;
}
.team__person-link img {
    display: block;
    width: 16px;
    height: 16px;
}
.review .slick-list {
    padding-right: 0;
    margin-right: 0;
}
.review__box {
    padding: 0 20px;
    position: relative;
}
@media only screen and (min-width: 1600px) {
    .review__box {
        padding: 0 50px;
        padding-right: 50px;
    }
}
@media only screen and (min-width: 1920px) {
    .review__box {
        padding: 0 100px;
        padding-right: 60px;
    }
}
.review__content {
    position: relative;
    z-index: 10;
    background: #fff;
}
.review__title {
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 67px;
    padding-left: 80px;
    padding-right: 70px;
}
.review__text {
    padding: 17px 0;
    padding-left: 5px;
    font-size: 19px;
}
.review__slider {
    margin-left: -50px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    width: 109%;
    background: #fff;
}
.review__slider:hover .slick-next {
    opacity: 1;
}
.review__item {
    display: inline-block;
    list-style: none;
}
.review__info {
    width: 520px;
    padding: 40px 12px 20px 12px;
    border: 3px solid #000;
}
.review__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}
.review__name {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}
.review__position {
    font-size: 15px;
}
.review__photo {
    margin-right: 10px;
}
.review__social {
    margin-left: 30px;
}
.review__link img {
    display: block;
    width: 46px;
    height: 46px;
}
.news {
    padding: 0 40px;
}
.news__box {
    padding: 108px;
    padding-right: 100px;
    padding-left: 60px;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
    background: url(../images/news__back.jpg) no-repeat center / cover;
}
.news__title {
    padding-left: 75px;
    background: #f4f4f4;
}
.news__gallery {
    width: 72%;
}
.news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.news__item {
    width: 390px;
    position: relative;
    margin-left: 15px;
    list-style: none;
    cursor: pointer;
}
.news__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    background: url(../images/news__back-items.jpg) no-repeat;
    background-size: cover;
    -webkit-transition: background-image 0.3s linear;
         -o-transition: background-image 0.3s linear;
            transition: background-image 0.3s linear;
}
.news__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.news__item:hover:before {
    height: 0;
}
.news__item:hover:after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}
.news__item:hover .news__text {
    opacity: 1;
    visibility: visible;
}
.news__item:hover .news__caption {
    bottom: 65px;
}
.news__item:hover .news__titles:after {
    right: -55px;
}
.news__img {
    width: 390px;
    height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.news__caption {
    position: absolute;
    max-width: 480px;
    bottom: 30px;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
    left: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
         -o-transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
            transition: all 0.3s cubic-bezier(0.5, 1.62, 0, 1.56);
    color: #fff;
    z-index: 10;
}
.news__titles {
    display: table;
    position: relative;
    font-size: 18px;
}
.news__titles:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 4px;
    width: 70px;
    background: #ef720e;
}
.news__titles:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 25px;
    background: url(../images/icons/svg/arr-left.svg) no-repeat;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.news__text {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    padding-top: 10px;
    max-height: 70px;
    overflow: hidden;
}
.contacts {
    padding-left: 160px;
    padding-right: 160px;
}
.contacts .map {
    width: 100%;
    height: 500px;
    -webkit-box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
            box-shadow: 6.103px 11.478px 48px 0 rgba(0, 0, 0, 0.32);
}
.contacts .container {
    position: relative;
    z-index: 10;
}
.contacts__title {
    margin-bottom: 80px;
    position: relative;
    font-size: 35px;
    font-weight: 700;
}
@media only screen and (min-width: 1600px) {
    .contacts__title {
        min-width: 370px;
        font-size: 42px;
    }
}
.contacts__title span {
    color: #ef720e;
}
.contacts__box {
    padding-top: 40px;
    background: #474747;
    border: 16px solid #3b3b3d;
    color: #fff;
    text-align: center;
    z-index: 10;
}
@media only screen and (min-width: 768px) {
    .contacts__box {
        position: absolute;
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        top: -535px;
        left: -135px;
        width: 400px;
        height: 565px;
        text-align: inherit;
    }
}
.contacts li {
    list-style-type: none;
}
.contacts__item {
    margin-bottom: 25px;
}
.contacts__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contacts__icon {
    margin-right: 15px;
    width: 32px;
    height: 32px;
    fill: #9c9b9b;
}
.contacts__link {
    display: block;
    margin-bottom: 3px;
}
.contacts__ask {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}
.contacts .btn {
    margin: 25px auto;
    width: 260px;
    color: #000;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    position: relative;
    -webkit-transition: all ease-in 0.2s;
         -o-transition: all ease-in 0.2s;
            transition: all ease-in 0.2s;
}
.contacts .btn:focus {
    outline: 0;
}
.contacts .btn:hover, .contacts .btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    background-color: #000;
    color: #fff;
}
.contacts .social__list {
    position: absolute;
    width: 80px;
    height: 500px;
    top: -500px;
    left: -215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e6e6e6;
    -webkit-box-shadow: 0 2px 8.71px 4.29px rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 8.71px 4.29px rgba(0, 0, 0, 0.14);
}
.contacts .social__link {
    display: block;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.contacts .social__link:hover .fb__circle {
    fill: #3b5998;
}
.contacts .social__link:hover .bh {
    fill: #1769ff;
}
.contacts .social__link:hover .skype {
    fill: #00aaf2;
}
.contacts .social__link:hover .pin {
    fill: #cb1f24;
}
.contacts .social__img {
    width: 50px;
    max-height: 50px;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
    fill: #474747;
}
.fb__circle, .bh {
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.footer {
    padding: 20px 0;
    background: #000;
    color: #fff;
}
.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;
}
@media only screen and (min-width: 320px) {
    .remodal-first {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first {
        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0;
        background: url('../images/form.png') no-repeat top center;
        padding: 120px 0 0 109px;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-first .remodal-close {
        color: #000 !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-first .remodal-close {
        color: #fff !important;
    }
}
.remodal-first:before {
    display: none;
}
.btn-remodal {
    margin: 30px 0 0 15px;
}
.remodal-close {
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
}
@media only screen and (min-width: 320px) {
    .remodal-close {
        width: 10px !important;
        height: 16px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close {
        width: 35px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 320px) {
    .remodal-close:before {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-close:before {
        font-size: 50px !important;
        top: 0 !important;
        left: 0 !important;
    }
}
.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;
}
@media only screen and (min-width: 320px) {
    .remodal-common {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .remodal-common {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
}
.remodal-common .remodal-close {
    color: #000 !important;
}
.error-input {
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;
    margin: 0 auto;
    text-align: center;
}
#name-error {
    font-size: 0 !important;
}
.input {
    position: relative;
}
label {
    position: absolute;
    top: 0;
    border: 0;
    font-size: 0 !important;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
.formBox {
    position: relative;
    background: #fff;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
.formBox .form__line {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 7px;
    border: none!important;
    outline: none;
    font-size: 18px;
}
.formBox .btn {
    margin: 15px 0 5px 0;
    color: #fff;
}
.formBox .btn:hover {
    color: #000;
}
.video {
    max-width: 780px;
}
.video iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}
/* RESPONSIVE MENU TO 992px*/
.open {
    -webkit-transform: translateX(-220px);
        -ms-transform: translateX(-220px);
            transform: translateX(-220px);
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
@media only screen and (min-width: 992px) {
    .open {
        display: none;
    }
}
.overlay {
    position: fixed;
    width: 220px;
    background: #f4f6f6;
    height: 100vh;
    top: 60px;
    right: -220px;
    overflow-y: scroll;
    -webkit-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
         -o-transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
            transition: all 0.3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
}
@media only screen and (min-width: 992px) {
    .overlay {
        position: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        overflow-y: inherit;
    }
}
.overlay::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.overlay::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.overlay::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #11569d;
    background-color: #ef720e;
}
.burger {
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
    z-index: 1000;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    z-index: 100;
}
.burger:hover {
    cursor: pointer;
}
@media only screen and (min-width: 992px) {
    .burger {
        display: none;
    }
}
.burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #000;
    width: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.burger i:before {
    margin-top: -12px;
}
.burger i:after {
    margin-top: 12px;
}
.burger:hover i:before {
    margin-top: -14px;
}
.burger:hover i:after {
    margin-top: 14px;
}
.burger.active i {
    background: transparent;
}
.burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px;
}
.burger.active i:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
}
.burger.active i:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -12px;
}
.burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0;
}
/* END RESPONSIVE MENU TO 992px*/
.slick-prev, .slick-next {
    width: 40px;
    height: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
    z-index: 20;
    outline: none;
}
.slick-prev {
    display: none !important;
    left: -10px;
    background: url(../images/icons/svg/arr-back.svg) no-repeat center / cover;
}
.slick-next {
    opacity: 0;
    right: 0;
    background: url(../images/icons/svg/arr-next.svg) no-repeat center / cover;
}
.slick-prev:before, .slick-next:before {
    width: 0;
    height: 0;
}
.slick-prev:focus, .slick-next:focus {
    opacity: 1;
}
.slick-disabled {
    opacity: 0.05!important;
}
.slick-dots {
    text-align: left;
    padding-left: 50px;
    bottom: -20px;
    z-index: 20;
}
.slick-dots li {
    margin: 7px;
    width: 13px;
    height: 13px;
}
.slick-dots li button {
    background: #000;
    display: block;
    height: 5px;
    width: 5px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 0.75;
    -webkit-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.slick-dots li button:before {
    font-size: 0;
    opacity: 0;
    display: none;
}
.slick-dots li.slick-active button {
    opacity: 1;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    border: 1px solid #000;
    background: transparent;
}
.slick-current, .slick-slide, .slick-active {
    outline: none!important;
}
@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
/*# sourceMappingURL=style.css.map */
