@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1: 								'DIN', sans-serif;
@ff2: 								'Roboto', sans-serif;

@black: 							#191c26;
@blue: 								#59c6ff;
@red:                 #df3e51;
@black:               #1a1c20;
@yellow:              #cfad38;


@text-color: 						@black;
@text-margin: 					0 0 0rem;

@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";

@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl15:    ~"only screen and (min-width: 1366px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight/RobotoLight.woff2') format('woff2'), 
       url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), 
       url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), 
       url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), 
       url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), 
       url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), 
       url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINProLight/dinpro-light.woff2') format('woff2'), 
       url('../fonts/DINProLight/dinpro-light.woff') format('woff'), 
       url('../fonts/DINProLight/dinpro-light.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINPro/dinpro.woff2') format('woff2'), 
       url('../fonts/DINPro/dinpro.woff') format('woff'), 
       url('../fonts/DINPro/dinpro.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINProBold/dinpro-bold.woff2') format('woff2'), 
       url('../fonts/DINProBold/dinpro-bold.woff') format('woff'), 
       url('../fonts/DINProBold/dinpro-bold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINProBlack/dinpro-black.woff2') format('woff2'), 
       url('../fonts/DINProBlack/dinpro-black.woff') format('woff'), 
       url('../fonts/DINProBlack/dinpro-black.ttf') format('truetype');

  font-weight: 900;
  font-style: normal;
}