::-webkit-input-placeholder { 
	font-size: 20px;
	color: #967f2d;
}
::-moz-placeholder { 
	font-size: 20px;
	color: #967f2d;
}
:-ms-input-placeholder { 
	font-size: 20px;
	color: #967f2d;
}
:-moz-placeholder {
	font-size: 20px;
	color: #967f2d;
}