@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.appreciate {
	position: relative;
	padding-top: 50px;
	min-height: 590px;
	background: @yellow;
	overflow: hidden;

	@media @tablet {
		background: url(../images/appreciate__back.jpg)no-repeat center/cover;
	}
	@media @desktop-xl {
		min-height: 560px;
	}
	.container {
		position: relative;
		z-index: 10;
	}
	strong {
		font-weight: 700;
	}

	&__img {
		display: none;

		@media @desktop {
			display: block;
			position: absolute;
			top: 135px;
			left: -220px;
		}
		@media @desktop-xl {
			top: -50px;
			left: -130px;
		}
		@media @desktop-xl15 {
			left: -90px;
		}
		@media @desktop-xll {
			left: -370px;
		}

		img {
			@media @desktop {
				max-width: 750px;
			}
			@media @desktop-xl {
				max-width: 650px;
				height: 100%;
			}
			@media @desktop-xll {
				max-width: 981px;
			}
		}
	}

	&__text {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 22px;
		color: #000;
		text-align: center;
		font-family: @ff2;
		@media @tablet {
			position: absolute;
			top: 140px;
			left: 30px;
			max-width: 340px;
			padding-top: 0;
			padding-bottom: 0;
			font-size: 24px;
			text-align: inherit;
		}
		@media @desktop {
			top: 75px;
			left: 150px;
			max-width: 460px;
			font-size: 24px;
			br {
				display: none;
			}
		}
		@media @desktop-xl {
			top: 140px;
			left: inherit;
			right: 340px;
			max-width: 320px;
			br {
				display: inherit;
			}
		}
		@media @desktop-xl15 {
			right: 290px;
		}
		@media @desktop-xll {
			top: 160px;
			right: 160px;
			max-width: 410px;
			font-size: 28px;
		}
	}

	&__form {
		position: relative;
		width: 290px;
		padding-bottom: 40px;
		margin: auto;
		&:before {
			@media @tablet {
				content: '';
				position: absolute;
				top: -40px;
				left: -30px;
				width: 393px;
				height: 143px;
				background: url(../images/present__back-form.jpg);
			}
		}
		@media @mobile-xl {
			width: 342px;
		}
		@media @tablet {
			position: absolute;
			top: 50px;
			right: 0;
			padding-bottom: 40px;
			margin: 0;
		}
		@media @desktop-xl {
			top: 0;
			right: -45px;
		}
		@media @desktop-xl15 {
			right: -75px;
		}
		@media @desktop-xll {
			right: -200px;
		}

		.form {
			margin: auto;
			text-align: center;
			z-index: 10;
			padding: 30px 25px;
			min-height: 400px;
			background: url(../images/form-back-small.jpg)no-repeat center/contain;
			background-size: contain;
			position: relative;
			z-index: 10;
			@media @tablet {
				margin: 0;
				padding: 60px 30px 80px 35px;
				min-height: inherit;
				background: url(../images/form-back.jpg)no-repeat;
			}
		}


		.form__title {
			font-family: @ff2;
			font-weight: 700;
			font-size: 25px;	
			color: @yellow;
		}
		.form__text {
			padding: 10px 0 20px 0;
			font-size: 15px;
			color: @yellow;
		}

		.inputWrap{
			position: relative;
			margin-bottom: 15px;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 20px;
				@media @mobile-xl {
					left: 40px;
				}
			}
		}

		.inputWrap:nth-of-type(1){
			&:before {
				.bg-user
			}
		}
		.inputWrap:nth-of-type(2){
			&:before {
				.bg-phone
			}
		}
		.inputWrap:nth-of-type(3){
			&:before {
				.bg-mail
			}
		}

		.form__line {
			padding: 10px 50px;
			width: 235px;
			color: #967f2d;
			outline: none!important;

			background-image: -moz-linear-gradient( 90deg, rgb(237,242,248) 0%, rgb(251,253,255) 66%, rgb(255,255,255) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb(237,242,248) 0%, rgb(251,253,255) 66%, rgb(255,255,255) 100%);
			background-image: -ms-linear-gradient( 90deg, rgb(237,242,248) 0%, rgb(251,253,255) 66%, rgb(255,255,255) 100%);
			box-shadow: 0px 11px 1px 1.26px rgba(0, 0, 0, 0.27),inset 0 0 10px 0px rgba(59, 49, 64, 0.38);
		}
		.btn {
			margin-top: 8px;
			width: 235px;
			border: none;
			@media @tablet {
				margin-top: 20px;
			}
		}
	}

}
