.bg-arrow_right {
    width: 91px; height: 68px;
    background: url('../images/icons/css_sprites.png') -10px -10px;
}
 
.bg-loop {
    width: 54px; height: 54px;
    background: url('../images/icons/css_sprites.png') -10px -98px;
}

.bg-mail {
    width: 16px; height: 11px;
    background: url('../images/icons/css_sprites.png') -232px -141px;
}

.bg-phone {
    width: 15px; height: 15px;
    background: url('../images/icons/css_sprites.png') -84px -98px;
}

.bg-user {
    width: 12px; height: 16px;
    background: url('../images/icons/css_sprites.png') -84px -133px;
}

.bg-arrow {
    width: 18px; height: 111px;
    background: url('../images/icons/css_sprites.png') -232px -10px;
}

.bg-arrow_left {
    width: 91px; height: 68px;
    background: url('../images/icons/css_sprites.png') -121px -10px;
}