@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1: 								'Montserrat',Fallback, sans-serif;
@ff2: 								'Montserrat',Fallback, sans-serif;

@black: 							#191c26;
@blue: 								#59c6ff;
@red:                 #ff0000;
@gray:                #6b6c70;
@blood:               #990000;

@text-color: 						@black;
@text-margin: 					0 0 0rem;

@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratLight/MontserratLight.woff2') format('woff2'), 
       url('../fonts/MontserratLight/MontserratLight.woff') format('woff'), 
       url('../fonts/MontserratLight/MontserratLight.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratRegular/MontserratRegular.woff2') format('woff2'), 
       url('../fonts/MontserratRegular/MontserratRegular.woff') format('woff'), 
       url('../fonts/MontserratRegular/MontserratRegular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratMedium/MontserratMedium.woff2') format('woff2'), 
       url('../fonts/MontserratMedium/MontserratMedium.woff') format('woff'), 
       url('../fonts/MontserratMedium/MontserratMedium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratSemiBold/MontserratSemiBold.woff2') format('woff2'), 
       url('../fonts/MontserratSemiBold/MontserratSemiBold.woff') format('woff'), 
       url('../fonts/MontserratSemiBold/MontserratSemiBold.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold/MontserratBold.woff2') format('woff2'), 
       url('../fonts/MontserratBold/MontserratBold.woff') format('woff'), 
       url('../fonts/MontserratBold/MontserratBold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}