.spritebox(@left, @top, @height, @width) {
  background-image: url(../images/icons/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: @left @top;
  height: @height;
  width: @width
}

.ico_arr-down {
  background-position: -0px -0px;
  height: 95px;
  width: 77px
}

.ico_color_pokostovskiy {
  background-position: -77px -0px;
  height: 54px;
  width: 58px
}

.ico_color_marble {
  background-position: -135px -0px;
  height: 54px;
  width: 58px
}

.ico_color_granite {
  background-position: -0px -95px;
  height: 54px;
  width: 58px
}

.ico_arr-left {
  background-position: -58px -95px;
  height: 45px;
  width: 24px
}

.ico_arr-right {
  background-position: -82px -95px;
  height: 45px;
  width: 24px
}

.ico_tel {
  background-position: -106px -95px;
  height: 42px;
  width: 24px
}

.ico_phone {
  background-position: -135px -54px;
  height: 23px;
  width: 23px
}

.ico_user {
  background-position: -158px -54px;
  height: 23px;
  width: 19px
}

.ico_weight {
  background-position: -177px -54px;
  height: 16px;
  width: 16px
}

.ico_diameter {
  background-position: -135px -77px;
  height: 16px;
  width: 16px
}

.ico_height {
  background-position: -151px -77px;
  height: 14px;
  width: 5px
}