@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	position: relative;
	background: url(../images/header__back.jpg)no-repeat center/cover;
	height: 700px;

	@media @mobile-xl {

	}
	@media @mobile-land {

	}
	@media @tablet {
		height: 700px;
	}
	@media @desktop {
		height: 650px;
	}
	@media @desktop-xl-2 {
		height: 100vh;
		max-height: 950px;
	}

	&__top {
		padding: 15px 0;
		color: #fff;
		background: #000;
		&-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-logo {
			display: flex;
			align-items: center;
		}
		&-desc {
			display: none;
			@media @tablet {

			}
			@media @desktop {
				display: inline-block;
				margin-left: 15px;
			}
		}
		&-tel {
			padding-left: 32px;
			padding-right: 32px;
			position: relative;
			font-weight: 500;
			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				.ico_tel; 
			}
		}
		.btn {
			width: 200px;
			padding-left: 0;
			padding-right: 0;
			@media @desktop {
				width: inherit;
				padding: 12px 50px;
			}
		}
	}

	&__center {
		padding-top: 100px;
		color: #fff;

		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			padding-top: 0;
			display: flex;
			min-height: 650px;
			align-items: center;
		}
		.container {
			position: relative;
		}
	}

	&__title {
		position: relative;
		padding-bottom: 20px;
		font-size: 37px;
		font-weight: 700;
		text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
		z-index: 10;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {
			font-size: 37px;
		}
		@media @desktop {
			font-size: 45px;
		}
		@media @desktop-xl {
			font-size: 47px;
		}
		@media @desktop-xl-2 {
			font-size: 55px;
		}
	}
	&__subtitle {
		position: relative;
		font-size: 30px;
		font-weight: 500;
		text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
		z-index: 10;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			font-size: 32px;
		}
		@media @desktop-xl-2 {
			font-size: 36px;
		}
	}

	&__decorLeft {
		display: block;
		position: absolute;
		top: 255px;
		left: 0px;

		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {
			top: 255px;
		}
		@media @desktop {
			top: 215px;
			left: 0px;
		}
		@media @desktop-xl {
			top: 215px;
			width: 317px;
		}
		@media @desktop-xl-2 {
			top: 320px;
			left: 80px;
		}
	}
	&__decorRight {
		display: block;
		position: absolute;
		top: 80px;
		right: 0px;
		width: 280px;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {
			top: 80px;
			width: 280px;
		}
		@media @desktop {
			top: 0px;
			width: 300px;
		}
		@media @desktop-xl {
			width: 350px;
			top: -80px;
			right: 50px;
		}
		@media @desktop-xl-2 {
			width: 507px;
			top: -175px;
			right: -80px;
		}
	}

	&__end {
		display: none;

		@media @desktop-xl {
			position: absolute;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			bottom: 40px;
		}
		@media @desktop-xl-2 {
			bottom: inherit;
		}
	}

	.arr_anim {
		display: block;
		animation: arrow-bounce 3s infinite;
	}
}