@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.arguments {
	position: relative;
	margin-top: -0.25%;
	background: url(../images/argument__back.jpg)no-repeat center/cover;
}