@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.gallery {
	padding-bottom: 0;

	&__sectionTitle {
		font-size: 20px;
		@media @tablet {
			font-size: 30px;
		}
	}

	&__list {
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		@media @tablet {
			flex-direction: row;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media @tablet{
			flex-wrap: nowrap;
		}
	}

	&__item {
		position: relative;
		&:hover {
			.gallery__title {
				opacity: 0;
			}
		}
	}

	&__img {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .4;
			transition: all .3s linear;
		}
		&:after {
			content: '';
			position: absolute;
			border: 1px solid #fff;	
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 95%;
			height: 95%;
			transition: all .3s linear;
			@media @mobile-xl {

			}
			@media @mobile-land {

			}
			@media @tablet {
				height: 290px;
			}
			@media @desktop-xl-2 {
				height: 400px;
			}
		}
		&:hover {
			&:before {
				background: rgba(0,0,0, 0);
			}
			&:after {
				width: 100%;
				height: 100%;
				border: 1px solid transparent;
			}
		}
		img {
			width: 100vw;
			height: 300px;
			@media @tablet {
				width: inherit;
				height: inherit;
			}
		}
	}

	&__img-height {
		&:after {
			@media @tablet {
				height: 610px;
			}
			@media @desktop-xl-2 {
				height: 830px;
			}
		}
	}
	&__img-width {
		&:after {
			@media @tablet {
				width: 97%;
			}
		}
	}


	.big {
		display: block;
		height: 640px;
		object-fit: cover;
		object-position: center;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			height: 850px;
		}
	}
	.small {
		display: block;
		object-fit: cover;
		object-position: 55%;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {
			height: 320px;
		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			height: 425px;
		}
	}

	&__link {
		display: block;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		transition: all .3s linear;
		z-index: 10;
		text-align: center;
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {
			font-size: 24px;
		}
		@media @desktop {
			font-size: 28px;
		}
		@media @desktop-xl-2 {
			font-size: 32px;
		}
		@media @desktop-xll {
			font-size: 39px;
		}
	}

	br {
		display: none;
	}
	@media @desktop-xl {
		br {
			display: inline;
		}
	}
}