@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.step {
	@media @tablet {
		background: url(../images/step__back.jpg)repeat-x 0 100%;
	}
	&__list {
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		@media @tablet {
			flex-direction: row;
			justify-content: space-between;
			align-items: inherit;
		}
		@media @desktop-xl {
			justify-content: space-around;
		}
	}
	&__item {
		position: relative;
		max-width: 300px;
		margin-bottom: 25px;

		@media @tablet {
			width: 30%;
			max-width: inherit;
			margin-bottom: 0;
		}

		&:before {
			@media @tablet {
				content: '';
				position: absolute;
				top: 37%;
				right: -15px;
				.ico_arr-right;
			}
		}
		&:last-of-type {
			&:before {
				display: none;
			}
		}
	}
	&__img {
		height: 210px;
		margin-bottom: 15px;

		@media @tablet {
			margin-bottom: 0;
		}
		@media @desktop-xl {
			height: 235px;
		}
	}
	&__title {
		padding-bottom: 10px;
		font-size: 22px;
		font-weight: 500;

		@media @tablet {

		}
		@media @desktop {
			font-size: 24px;
		}
	}
	.btn {
		margin-top: 20px;
		padding: 12px 35px;
	}

	br {
		display: none;
		@media @desktop-xl {
			display: inline;
		}
	}
}