@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.footer {
	padding: 20px 0;
	background: #000;
	color: #fff;
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		img {
			padding-right: 10px;
		}
	}

	&__copy {
		text-align: center;
	}

	&__agency {
		font-size: 12px;
		img {
			margin-top: 5px;
		}
	}
}