.remodal-overlay {

    // background: rgba( 160, 159, 158, 0.8) !important;
}


.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;

    @media @mobile {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
        
    }
    @media @tablet {

        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0px;
        background: url('@{dir}form.png') no-repeat top center;
        padding: 120px 0 0 109px;

    }

    .remodal-close {

        @media @mobile {
            color: #000 !important;
        }
        @media @tablet {
            color: #fff !important;

        }
    }
    &:before {
        display: none;
    }


    #name-error {
        font-size: 0 !important;
    }
    .input {
        position: relative;
    }
    label {
        position: absolute;
        top: 0;
        border: 0;
        font-size: 0 !important;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
    }
}





.btn-remodal {
    margin: 30px 0 0 15px;
}

.remodal-close { 
    top: 5px !important;
    right: 35px !important;
    color: #000 !important;
    font-weight: 900;
    z-index: 20;
    @media @mobile {
     width: 10px !important;
     height: 16px !important;
     top: 8px !important;
     right: 20px !important;
 }
 @media @mobile-land {
    width: 35px !important;
    height: 30px !important;
}
&:before {
    @media @mobile {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
    @media @mobile-land {
        font-size: 50px !important;
        top: -0px !important;
        left: -10px !important;
    }
}
}

.remodal-common {
    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;

    @media @mobile {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        
    }
    @media @tablet {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
    .remodal-close {
        color: #000 !important;
    }
}



.error-input{
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;

    margin: 0 auto;
    text-align: center;
    
}


input:focus:required:invalid,
textarea:focus:required:invalid {
  // border: solid 0px rgba(222,78,0,.51) !important;
  // border-bottom: 1px solid #909091;
  
}



.formBox {
    position: relative;
    max-width: 400px;

    .form:before {
        display: none;
    }


}



.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}