.slick-prev,
.slick-next {
	width: 50px;
	height: 100%;
	opacity: 1;
	transition: opacity .3s linear;
	z-index: 10;
}


.slick-prev {
	top: 140px;
	left: 10px;
	.ico_arr-left;
	@media @mobile-land {
		left: 40vh;
	}
	@media @tablet {
		top: 30px;
		left: inherit;
		right: 75px;
	}
	@media @desktop {
		right: 13%;
	}
}

.slick-next {
	top: 140px;
	right: 10px; 
	.ico_arr-right;
	@media @mobile-land {
		right: 40vh; 
	}
	@media @tablet {
		top: 30px;
		right: 25px; 
	}
	@media @desktop {
		right: 9%;
	}
}


.slick-prev:before,
.slick-next:before {
	width: 0;
	height: 0;
}

.slick-prev:focus,
.slick-next:focus
{
	opacity: 1;
}

.slick-disabled {
	opacity: .35!important;
}



.slick-dots {
	display: inline-block!important;
	left: 50%;
	transform: translateX(-50%);
	bottom: -20px;
	z-index: 20;

	@media @tablet {
		bottom: -80px;
	}

	li {
		margin: 7px;
		width: 13px;
		height: 13px;

		button {
			background: #000;
			display: block;
			height: 5px;
			width: 5px;
			font-size: 0px;
			border-radius: 50%;
			border: 1px solid transparent;
			opacity: 0.75;
			transition: all .3s linear;
			&:before {
				font-size: 0;
				opacity: 0;
				display: none;
			}

		}
		&.slick-active button {
			opacity: 1;
			transform: scale(2);
			border: 1px solid #000;
			background: transparent;
		}
	}
}


.slick-current, .slick-slide, .slick-active { 
	outline: none!important;
}