html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.container {
    @media @mobile {
        padding: 0 10px;
    }
    @media @tablet {
        padding: 0;
    }
}
a {
	outline: none;
    color: inherit;
}

li {
    // list-style-type: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}


body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-right: 0 !important;
    color: #000;
    font-size: @fs;
    line-height: @lh;
    font-weight: 400;
    font-family: @ff1;

    @media @desktop {
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: @gray;
        }
        &::-webkit-scrollbar {
            width: 6px;
            background-color:@gray;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: @orange;
        }
    }   
}

*::selection {
    background-color: #6b6c70;
    color: #fff;
}

.fancybox-margin {
    margin-right: 0 !important;
}

section {
    /*     overflow: hidden; */
    padding: 60px 0;
    @media @desktop-xl {
        padding: 80px 0;
    }
    @media @desktop-xl-2 {
        padding: 100px 0;
    }
    @media @desktop-xll {

    }
}



@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {

}
@media @desktop-xl-2 {

}
@media @desktop-xll {

}


.section {

    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        flex-basis: 460px;
    }
    &__gallery {
        li {
            list-style: none;
        }
    }

    &__title {
        position: relative;
        padding-top: 65px;
        padding-bottom: 65px;
        margin-bottom: 30px;
        font-size: 42px;
        font-weight: 700;
        border: 2px solid #000;
        span {
            color: @orange;
        }
    }

    &__text {

    }
}


