@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	&__box {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {

		}
		@media @desktop-xl {

		}
		@media @desktop-xl-2 {
			height: 86px;
		}
	}
	&__logo {
		flex-basis: 140px;
		flex: 1;
	
		@media @mobile-xl {

		}
		@media @mobile-land {

		}
		@media @tablet {

		}
		@media @desktop {
			flex: inherit;
		}
		@media @desktop-xl {
			flex-basis: 170px;
		}
	}
	.nav {
		order: 5;
		@media @desktop {
			//margin-top: 13px;
			flex: 1;
			order: inherit;
		}
	}
	&__list {
		display: flex;
		justify-content: flex-start;
	}
	&__item {
		margin-left: 20px;
		@media @desktop-xl {
			margin-left: 35px;
		}
	}
	&__link {
		display: inline-block;
		position: relative;
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;

		&:after {
			@media @desktop {
				content: '';
				position: absolute;
				top: 55%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				background-color: #000;
				transition: transform .3s  linear;		
				transform: scaleX(0);
				transform-origin: bottom right; 
				z-index: 10;
			}
		}
		&:hover {
			transition: all .5s;
			&:after{
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
	}
	.localization {
		display: flex;
		&__item {
			margin-left: 5px;
			@media @desktop-xl {
				margin-left: 10px;
			}
		}
	}
	&__phone {
		padding: 0 15px;
		display: flex;
		align-items: center;
	}
	li {
		list-style: none;
	}
	.btn {
		display: none;
		@media @desktop {
			display: block;
			overflow: hidden; 
		}
	}
}

.header__fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0);
	background: #eee;
	will-change: transform;
	transition: transform .5s cubic-bezier(.72,-0.04,.14,1.03);
	z-index: 200;
}
.header__fixed.is-hidden {
	transform: translateY(-120%);
}




.hero {
	overflow: hidden;
	min-height: 890px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../images/hero__back.jpg)no-repeat center/cover;

	&__title {
		padding-bottom: 35px;
		font-size: 50px;
		font-weight: 700;
		font-family: @ff2;
		text-transform: uppercase;

		&-accent {
			display: block;
			font-size: 60px;
		}
		
	}
	&__subtitle {
		padding-bottom: 20px;
		font-size: 22px;

	}

	.btn {
		display: table;
		position: relative;
		padding: 15px 0;
		width: 275px;
		font-size: 18px;
		z-index: 1;
		transition: all .3s linear;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-30%);
			right: 30px;
			width: 18px;
			height: 14px;
			background: url(../images/icons/cup.png)no-repeat;
		}
	}
}

.container {
	position: relative;
}

.decoration {
	&__img {
		position: absolute;
		transition: all .4s linear;
		&:hover {
			transform: scale(1.09)!important;
		}
	}

	&__img1 {
		top: 60px;
		left: -160px;
	}
	&__img2 {
		top: 400px;
		left: -160px;
	}
	&__img3 {
		top: 465px;
		left: 60px;
	}
	&__img4 {
		top: 400px;
		left: 350px;
	}


	&__img5 {
		top: 205px;
		right: 450px;
	}
	&__img6 {
		top: 140px;
		right: 420px;
	}
	&__img7 {
		top: 35px;
		right: 345px;
	}
	&__img8 {
		top: 90px;
		right: 360px;
	}
	&__img9 {
		top: 110px;
		right: 260px;
	}
	&__img10 {
		top: 200px;
		right: 384px;
	}
	&__img11 {
		top: 255px;
		right: 320px;
	}
	&__img12 {
		top: 155px;
		right: 100px;
	}
	&__img13 {
		top: 240px;
		right: 140px;
		z-index: 10;
	}
	&__img14 {
		top: 320px;
		right: 215px;
	}
	&__img15 {
		top: 245px;
		right: 10px;
		z-index: 10;
	}
	&__img16 {
		top: 75px;
		right: -180px;
	}
	&__img17 {
		top: 290px;
		right: -35px;
		z-index: 10;
	}
	&__img18 {
		top: 135px;
		right: -100px;
	}
	&__img19 {
		top: 315px;
		right: -150px;
		z-index: 10;
	}
	&__img20 {
		top: 55px;
		right: -280px;
	}
	&__img21 {
		top: 275px;
		right: -280px;
	}
	&__img22 {
		top: 75px;
		right: -310px;
	}
	&__img23 {
		top: 145px;
		right: -360px;
	}
	&__img24 {
		top: -60px;
		right: -360px;
		z-index: 1000;
	}
	&__img25 {
		top: -50px;
		right: -380px;
		z-index: 1003;
	}
	&__img26 {
		top: -280px;
		right: -380px;
		z-index: 1002;
	}
	&__img27{
		top: -290px;
		right: -340px;
		z-index: 1003;
	}
	&__img28{
		top: -280px;
		right: -380px;
		z-index: 1000;
	}
}

.arrow__link  {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -150px;
}


// .redShadow {  
// 	text-shadow:-6px 0 @red;
// }
// .orangeShadow { 
// 	text-shadow:-6px 0 @orange;
// }