@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	&__box {
		height: 86px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		flex-basis: 150px;
		margin-right: 25px;
	}
	.nav {
		margin-top: 13px;
		flex: 1;
	}
	&__list {
		display: flex;
		justify-content: flex-start;
	}
	&__item {
		margin-left: 35px;
	}
	&__link {
		display: inline-block;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			bottom: -5px;
			height: 2px;
			background: @orange;
			transition: width .3s ease 0s, left .3s ease 0s;
			width: 0
		}
		&:hover:after {
			width:100%;
			left:0
		}
	}
	.localization {
		display: flex;
		&__item {
			margin-left: 10px;
		}
	}
	&__phone {
		padding: 0 15px;
		display: flex;
		align-items: center;
	}
	li {
		list-style: none;
	}
}

.header__fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0);
	background: #eee;
	will-change: transform;
	transition: transform .5s cubic-bezier(.72,-0.04,.14,1.03);
	z-index: 200;

}
.header__fixed.is-hidden {
	transform: translateY(-120%);
}




.hero {
	overflow: hidden;
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../images/hero__back.jpg)no-repeat center/cover;
	&__title {
		padding-bottom: 35px;
		font-size: 92px;
		letter-spacing: 0;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subtitle {
		padding-bottom: 20px;
		font-size: 22px;
	}
	.btn {
		display: table;
		position: relative;
		padding: 15px 0;
		width: 290px;
		font-size: 18px;
		z-index: 1;
		transition: all .3s linear;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-30%);
			right: 30px;
			width: 18px;
			height: 14px;
			background: url(../images/icons/cup.png)no-repeat;
		}
	}
}

.container {
	position: relative;
}

.decoration {

	&__img {
		position: absolute;
	}

	&__img1 {
		top: 100px;
		left: -160px;
	}
	&__img2 {
		top: 470px;
		left: -160px;
	}
	&__img3 {
		top: 545px;
		left: 60px;
	}
	&__img4 {
		top: 440px;
		left: 350px;
	}


	&__img5 {
		top: 200px;
		right: 445px;
	}
	&__img6 {
		top: 125px;
		right: 420px;
	}
	&__img7 {
		top: 35px;
		right: 345px;
	}
	&__img8 {
		top: 90px;
		right: 360px;
	}
	&__img9 {
		top: 110px;
		right: 260px;
	}
	&__img10 {
		top: 200px;
		right: 380px;
	}
	&__img11 {
		top: 255px;
		right: 320px;
	}
	&__img12 {
		top: 155px;
		right: 100px;
	}
	&__img13 {
		top: 245px;
		right: 135px;
	}
	&__img14 {
		top: 335px;
		right: 210px;
	}
	&__img15 {
		top: 245px;
		right: 10px;
		z-index: 10;
	}
	&__img16 {
		top: 75px;
		right: -180px;
	}
	&__img17 {
		top: 305px;
		right: -40px;
	}
	&__img18 {
		top: 135px;
		right: -100px;
	}
	&__img19 {
		top: 315px;
		right: -150px;
	}
	&__img20 {
		top: 55px;
		right: -280px;
	}
	&__img21 {
		top: 165px;
		right: -280px;
	}
	&__img22 {
		top: 75px;
		right: -310px;
	}
	&__img23 {
		top: 145px;
		right: -360px;
	}
	&__img24 {
		top: -60px;
		right: -360px;
		z-index: 1000;
	}
	&__img25 {
		top: -50px;
		right: -370px;
		z-index: 1003;
	}
	&__img26 {
		top: -250px;
		right: -370px;
		z-index: 1002;
	}
	&__img27{
		top: -240px;
		right: -340px;
		z-index: 1003;
	}
	&__img28{
		top: -250px;
		right: -380px;
		z-index: 1000;
	}
}

.arrow__link  {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -150px;
}


.redShadow {  
	text-shadow:-3px 0 @orange;
}