@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	&__box {
		height: 86px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		flex-basis: 150px;
		margin-right: 25px;
	}
	.nav {
		margin-top: 13px;
		flex: 1;
	}
	&__list {
		display: flex;
		justify-content: flex-start;
	}
	&__item {
		margin-left: 35px;
	}
	&__link {
		display: inline-block;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			bottom: -5px;
			height: 2px;
			background: @orange;
			transition: width .3s ease 0s, left .3s ease 0s;
			width: 0
		}
		&:hover:after {
			width:100%;
			left:0
		}
	}
	.localization {
		display: flex;
		&__item {
			margin-left: 10px;
		}
	}
	&__phone {
		padding: 0 15px;
		display: flex;
		align-items: center;
	}
	li {
		list-style: none;
	}
}

.header__fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateZ(0);
	background: #eee;
	will-change: transform;
	transition: transform .5s cubic-bezier(.72,-0.04,.14,1.03);
	z-index: 200;

}
.header__fixed.is-hidden {
	transform: translateY(-120%);
}
// .header__fixed2.fixed {
// 	position: fixed;
// 	top: 60px;

// 	@media @desktop-xl-2 {
// 		top: 60px;
// 	}
// }

// .header__fixed2.slide-up {
// 	transform: translateY(-60px);

// 	@media @desktop-xl-2 {
// 		transform: translateY(-60px);
// 	}
// }


.hero {
	min-height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../images/hero__back.jpg)no-repeat center/cover;
	&__title {
		padding-bottom: 35px;
		font-size: 122px;
		line-height: 1;
		font-weight: 700;
	}
	&__subtitle {
		padding-bottom: 20px;
		font-size: 22px;
	}
	.btn {
		display: table;
		position: relative;
		padding: 15px 0;
		width: 290px;
		font-size: 18px;
		z-index: 1;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-30%);
			right: 30px;
			width: 18px;
			height: 14px;
			background: url(../images/icons/cup.png)no-repeat;
		}
	}
}