@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.portfolio {
	&__box {
		padding: 0 15px;
		@media @desktop {
			padding: 0;
		}
		@media @desktop-xl {
			padding: 0 20px;
		}
		@media @desktop-xl-2 {
			padding: 0 20px;
		}
		@media @desktop-xll {
			padding: 0 100px;
		}
	}
	&__title {
		@media @desktop {
			position: relative;
			padding-left: 30px;
			padding-right: 30px;
		}
		@media @desktop-xl-2 {
			padding-left: 80px;
		}
	}
	&__texts {
		padding: 15px 0px;
		font-size: 17px;
		text-align: center;

		@media @tablet {
			font-size: 18px;
		}
		@media @desktop {
			text-align: inherit;
		}
		@media @desktop-xl-2 {
			font-size: 19px;
		}
	}

	&__gallery {
		@media @desktop-xl-2 {
			margin-left: 35px;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media @desktop {
			justify-content: inherit;
		}
		@media @desktop-xl {
			margin-top: -15px;
		}
	}

	&__img {
		width: 290px;
		margin: auto;
		object-fit: cover;

		@media @desktop-xl {
			width: 370px;
		}
		@media @desktop-xl15 {
			width: 410px;
		}
		@media @desktop-xl-2 {
			width: 520px;
		}
		@media @desktop-xll {
			width: 570px;
		}
	}
	&__figure {
		display: none;
		position: relative;
		max-height: 370px;
		margin-left: 10px;
		margin-bottom: 15px;
		overflow: hidden;
		color: #fff;

		@media @desktop-xl {
			margin-left: 20px;
			margin-bottom: 30px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0, 0);
			transition: all .3s cubic-bezier(0.72, -0.04, 0.14, 1.03);
		}
		&:hover {
			&:before {
				background: rgba(0,0,0, .55);
			}
			.portfolio__caption {
				opacity: 1;
				visibility: visible;
				transform: translateY(40px);
			}
		}
	}
	&__caption {
		position: absolute;
		max-width: 400px;
		top: 30px;
		left: 10px;
		opacity: 0;
		visibility: hidden;
		transition: all .3s cubic-bezier(0,1.56,.5,1.62);

		@media @desktop-xl {
			top: -20px;
			transform: translateY(0);
			left: 20px;
			max-width: 480px;
		}
	}
	.portfolioLogo__img {
		display: none;
		@media @desktop-xl {
			display: block;
		}
	}
	&__titles {
		font-size: 19px;
		@media @tablet {
			font-size: 23px;
		}
		@media @desktop-xl-2 {
			font-size: 27px;
		}
	}
	&__text {
		padding: 15px 0px;
		font-size: 16px;

		@media @tablet {
			font-size: 18px;
		}
		@media @desktop-xl-2 {
			font-size: 19px;
		}
	}
	&__link {
		display: table;
		position: relative;
		font-size: 16px;

		@media @tablet {
			font-size: 18px;
		}

		svg {
			fill: #fff;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -45px;
			transform: translateY(-45%);
			width: 40px;
			height: 25px;
			background: url(../images/icons/svg/arr-left.svg)no-repeat;
			transition: all .3s linear;
			@media @tablet {
				transform: translateY(-50%);
			}
		}
		&:hover {
			&:after {
				right: -50px;
			}
		}
	}
	.btn {
		padding: 12px 0;
		margin: 25px auto;
		width: 200px;

		@media @desktop {
			margin-top: 10px;
			margin-left: 20px;
		}
	}
}

.title-animate {
	background: #fff;	
}