@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.consult {
	margin-top: 100px;
	min-height: 380px;
	background: url(../images/fornSection__back.jpg)no-repeat 50% 30%/cover;

	@media @desktop-xl {
		margin-top: 60px;
	}
	.container {
		position: relative;
	}
	.form {
		position: absolute;
		top: -35px;
		right: 50%;
		transform: translateX(50%);
		width: 390px;
		padding: 35px 20px 35px 20px;

		text-align: center;
		color: #fff;
		background: #3b3b3d;
		box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.35);

		@media @desktop {
			top: -45px;
			right: 190px;
			transform: none;
		}

		&__title {
			padding-top: 10px;
			padding-bottom: 20px;
			font-size: 22px;
			font-weight: 700;

			@media @tablet {
				font-size: 30px;
			}
			@media @desktop-xl {
				font-size: 35px;
			}
		}
		&__text {
			display: block;
			padding-bottom: 15px;
			font-size: 18px;
		}
		&__line {
			display: block;
			width: 295px;
			margin: auto;
			margin-bottom: 15px;
			padding: 15px 0;
			text-align: center;
		}
		&__line-top {
			margin-top: 15px;
		}
		.btn {
			width: 290px;
			padding: 15px 0;
			margin: auto;
			border: none;
			background: @orange;
		}
		.btnWrap {
			width: 290px;
			display: block;
			margin: 15px auto;
			position: relative;
			overflow: hidden; 
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: -6em;
				height: 100%;
				width: 3em;
				transform: skewX(-45deg) translateX(0);
				transition: none;
				background-color: rgba(255,255,255,0.5);
			}

			&:hover {
				color: #fff;
				box-shadow: none;
				&:after {
					transform: skewX(-45deg) translateX(35em);
					transition: all .5s linear;
				}
			}
		}
	}
}