@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.team {
	padding-left: 45px;
	padding-right: 45px;
	&__box {
		
	}
	&__title {
		padding-left: 45px;
		padding-right: 70px;
	}

	&__gallery {
		@media @desktop-xl-2 {
			margin-right: 55px;
		}
	}
	&__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__item {
		position: relative;
		width: 210px;
		margin-right: 35px;
		min-height: 198px;
		padding-top: 25px;
		padding-left: 25px;
		margin-bottom: 35px;
		box-shadow: 2.817px 5.298px 12px 0px rgba(0, 0, 0, 0.13);
		list-style: none;

		@media @desktop-xl15 {
			width: 250px;
			margin-bottom: 70px;
		}
		@media @desktop-xl-2 {
			width: 320px;
		}
	}

	&__person {
		&-name {
			padding-bottom: 10px;
			font-size: 23px;
		}
		&-position {
			font-size: 14px;
		}
		&-photo {
			position: absolute;
			bottom: -2px;
			right: -40px;
		}
		&-img {
			max-height: 166px;
			@media @desktop-xl15 {
				max-height: 240px;
			}
		}
		&-social {
			position: absolute;
			bottom: 25px;
			left: 25px;
		}
		&-link img{
			display: block;
			width: 24px;
			height: 24px;
		}
	}
}