@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.review {
	//.wrapper {
		//	overflow: hidden;
		// }
		.slick-list {
			padding-right: 0;
			margin-right: 0;
		}
		&__box {
			padding: 0 20px;
			position: relative;
			@media @desktop-xl-2 {

			}
			@media @desktop-xll {
				padding: 0 100px;
				padding-right: 60px;
			}
		}

		&__content {
			position: relative;
			z-index: 10;
			background: #fff;
		}
		&__title {
			@media @desktop {
				padding: 42px 30px;
				margin-top: 30px;
			}
			@media @desktop-xl-2 {
				padding-right: 70px;
				padding-left: 80px;
				padding-top: 70px;
				padding-bottom: 67px;
			}
		}
		&__text {
			padding: 17px 0px;
			padding-left: 5px;
			font-size: 19px;
			@media @tablet {

			}
			@media @desktop {

			}
			@media @desktop-xl {

			}
			@media @desktop-xl-2 {

			}
		}

		&__slider {
			padding-bottom: 50px;
			position: relative;
			width: 100%;
			background: @white;
			@media @tablet {
				padding-left: 50px;
				padding-right: 50px;
				padding-bottom: 30px;
			}
			@media @desktop {
				padding-left: 0;
				padding-right: 0;
				padding-top: 30px;
			}
			@media @desktop-xll {
				margin-left: -50px;
				width: 109%;
			}
			&:hover {
				.slick-next {
					opacity: 1;
				}
			}
		}

		&__item {
			display: inline-block;
			list-style: none;
		}
		&__info{
			padding: 30px 10px;
			border: 3px solid #000;
			@media @tablet {
				padding: 40px 12px 20px 12px;
			}
			@media @desktop-xl {
				margin-right: 15px;
			}
			@media @desktop-xl-2 {
				width: 430px;
			}
			@media @desktop-xll {
				width: 520px;
			}
		}
		&__person {
			display: flex;
			align-items: center;
			margin-top: 25px;
			@media @tablet {
				margin-top: 40px;
			}
		}
		&__photo {
			display: none;
			@media @tablet {
				display: block;
			}
		}
		&__name {
			padding-bottom: 5px;
			font-size: 20px;
			font-weight: 700;
			@media @tablet {
				font-size: 24px;
			}
		}
		&__position {
			font-size: 15px;
		}
		&__photo {
			margin-right: 10px;
		}
		&__social {
			margin-left: 30px;
		}

		&__link svg{
			display: block;
			width: 30px;
			height: 30px;
			@media @tablet {
				width: 46px;
				height: 46px;
			}
		}
	}