@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.review {
	// .wrapper {
	// 	overflow: hidden;
	// }
	.slick-list {
		padding-right: 0;
		margin-right: 0;
	}
	&__box {
		padding: 0 20px;
		position: relative;
		@media @desktop-xl-2 {
			padding: 0 50px;
			padding-right: 50px;
		}
		@media @desktop-xll {
			padding: 0 100px;
			padding-right: 60px;
		}
	}

	&__content {
		position: relative;
		z-index: 10;
		background: #fff;
	}
	&__title {
		margin-top: 30px;
		padding-top: 70px;
		padding-bottom: 67px;
		padding-left: 80px;
		padding-right: 70px;
	}
	&__text {
		padding: 17px 0px;
		padding-left: 5px;
		font-size: 19px;
	}

	&__slider {
		margin-left: -50px;
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		width: 109%;
		background: @white;
		&:hover {
			.slick-next {
				opacity: 1;
			}
		}
	}
	
	&__item {
		display: inline-block;
		list-style: none;
	}
	&__info{
		width: 520px;
		padding: 40px 12px 20px 12px;
		border: 3px solid #000;
	}
	&__person {
		display: flex;
		align-items: center;
		margin-top: 40px;
	}
	&__name {
		padding-bottom: 5px;
		font-size: 24px;
		font-weight: 700;
	}
	&__position {
		font-size: 15px;
	}
	&__photo {
		margin-right: 10px;
	}
	&__social {
		margin-left: 30px;
	}

	&__link img{
		display: block;
		width: 46px;
		height: 46px;
	}
}