@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.news {
	padding: 0 40px;
	&__box {
		padding: 108px;
		padding-right: 100px;
		padding-left: 60px;
		box-shadow: 6.103px 11.478px 48px 0px rgba(0, 0, 0, 0.32);
		background: url(../images/news__back.jpg)no-repeat center/cover;
	}
	&__title {
		padding-left: 75px;
		background: #f4f4f4;
	}

	&__gallery {
		width: 72%;
	}

	&__list {
		display: flex;
	}
	&__item {
		width: 390px;
		position: relative;
		margin-left: 15px;
		list-style: none;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 190px;
			// background: rgba(0,0,0, 0);

			// background-image: linear-gradient(to bottom, #ffffff, #000000);
			background: url(../images/news__back-items.jpg)no-repeat;
			background-size: cover; 
			transition: background-image .3s linear;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0, 0);
			transition: all .3s linear;
		}

		&:hover {
			&:before {
				height: 0%;
			}
			&:after {
				height: 100%;
				background-color: rgba(0,0,0, .45);
				z-index: 1;
			}
			.news__text {
				opacity: 1;
				visibility: visible;
			}
			.news__caption {
				bottom: 65px;
			}
			.news__titles {
				&:after {
					right: -55px;
				}
			}
		}
	}
	&__img {
		width: 390px;
		height: 370px;
		object-fit: cover;
		object-position: center;
	}

	&__caption {
		position: absolute;
		max-width: 480px;
		bottom: 30px;
		transform: translateY(40px);
		left: 20px;
		opacity: 1;
		visibility: visible;
		transition: all .3s cubic-bezier(.5,1.62, 0,1.56);
		color: #fff;
		z-index: 10;
	}

	&__titles {
		display: table;
		position: relative;
		font-size: 18px;

		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 0;
			height: 4px;
			width: 70px;
			background: @orange;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -45px;
			transform: translateY(-50%);
			width: 40px;
			height: 25px;
			background: url(../images/icons/svg/arr-left.svg)no-repeat;
			transition: all .3s linear;
		}
	}

	&__text { 
		opacity: 0;
		visibility: hidden;
		transition: all .3s linear;
		padding-top: 10px;
		max-height: 70px;
		overflow: hidden;
	}
}