@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.contacts {
	padding-bottom: 0;
	@media @tablet {
		padding-bottom: 80px;
	}
	@media @desktop-xl-2 {
		padding-left: 80px;
		padding-right: 80px;
	}
	@media @desktop-xll {
		padding-left: 160px;
		padding-right: 160px;
	}
	.map {
		width: 100%;
		height: 500px; 
		box-shadow: 6.103px 11.478px 48px 0px rgba(0, 0, 0, 0.32);
	}
	.container {
		position: relative;
		z-index: 10;
		padding: 0;
	}

	&__title {
		margin-bottom: 40px;
		position: relative;
		font-size: 35px;
		font-weight: 700;
		text-align: center;
		@media @desktop {
			text-align: inherit;
		}

		@media @desktop-xl {
			margin-bottom: 80px;
		}

		@media @desktop-xl-2 {
			min-width: 370px;
			font-size: 42px;
		}
		span {
			color: @orange;
		}
	}

	&__box {
		max-width: 414px;
		margin: auto;
		padding: 40px 15px;
		background: #474747;
		
		color: #fff;
		z-index: 10;

		@media @tablet {
			width: 400px;
			padding: 40px 20px;
			border: 16px solid #3b3b3d;
		}
		@media @desktop {
			position: absolute;
			top: -535px;
			left: 80px;
			padding: 80px 30px;
			height: 565px;
		}
		@media @desktop-xl {
			
		}
		@media @desktop-xl-2 {
			left: -55px;
		}
		@media @desktop-xll {
			left: -135px;
		}
	}

	&__list {
		width: 280px;
		margin: auto;
		@media @tablet {
			width: inherit;
			margin: inherit;
		}
	}

	li {
		list-style-type: none;
	}
	
	&__item {
		margin-bottom: 25px;
	}
	&__line {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__icon {
		margin-right: 15px;
		width: 32px;
		height: 32px;
		fill: #9c9b9b;
	}
	&__link {
		display: table;
		margin-bottom: 3px;
	}
	&__ask {
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 20px;
		text-align: center;
	}
	&__text {
		text-align: center;
	}

	.btn {
		margin: 25px auto;
		width: 260px;
		color: #000;
		background: #fff;
		appearance: none;
		border: none;
		position: relative;
		transition: all ease-in 0.2s;
		&:focus {
			outline: 0;
		}
		&:hover, &:active {
			transform: scale(0.95);
			background-color: darken(#000, 5%);
			color: #fff;
		}
	}

	.social {
		&__list {
			display: none;
			@media @tablet {
				display: block;
				position: absolute;
				width: 80px;
				height: 484px;
				top: 0;
				left: 105px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: #e6e6e6;
				box-shadow: 0px 2px 8.71px 4.29px rgba(0, 0, 0, 0.14);
			}
			@media @desktop {
				top: -500px;
				height: 500px;
				left: 0;
			}
			@media @desktop-xl {
				
			}
			@media @desktop-xl-2 {
				left: -135px;
			}
			@media @desktop-xll {
				left: -215px;
			}

		}
		&__link {
			display: block;
			margin-bottom: 30px;
			transition: all .3s linear;
			&:hover {
				.fb__circle {
					fill: #3b5998;
				}
				.bh {
					fill: #1769ff;
				}
				.skype {
					fill: #00aaf2;
				}
				.pin {
					fill: #cb1f24;
				}
			}
		}
		&__img {
			width: 50px;
			max-height: 50px;
			transition: all .3s linear;
			fill: #474747;
		}
	}

	.social {
		&__list-mob {
			margin-top: 30px;
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
			@media @tablet {
				display: none;
			}
			@media @desktop {
				top: -500px;
				height: 500px;
				left: 0;
			}
			@media @desktop-xl {
				
			}
			@media @desktop-xl-2 {
				left: -135px;
			}
			@media @desktop-xll {
				left: -215px;
			}

		}
		&__link-mob {
			display: block;
			margin-left: 8px;
			margin-right: 8px;
			transition: all .3s linear;
			fill: #9c9b9b;
			&:hover {
				.fb__circle {
					fill: #3b5998;
				}
				.bh {
					fill: #1769ff;
				}
				.skype {
					fill: #00aaf2;
				}
				.pin {
					fill: #cb1f24;
				}
			}
			.fb-letter {
				fill: #474747;
			}
		}
		&__img-mob {
			width: 50px;
			max-height: 50px;
			transition: all .3s linear;
		}
	}

	br {
		display: inline;
	}
}

.fb__circle, .bh {
	transition: all .3s linear;
}