.remodal-overlay {

    // background: rgba( 160, 159, 158, 0.8) !important;
}


.remodal-first {
    padding-top: 95px;
    text-align: center;
    width: 376px;

    @media @mobile {
        max-width: 376px !important;
        height: auto;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        background: #f9fbfc;
        border-radius: 10px;
        
    }
    @media @tablet {

        padding: 50px 15px;
        max-width: 489px !important;
        height: 487px;
        text-align: left;
        border-radius: 0px;
        background: url('@{dir}form.png') no-repeat top center;
        padding: 120px 0 0 109px;

    }

    .remodal-close {

        @media @mobile {
            color: #000 !important;
        }
        @media @tablet {
            color: #fff !important;

        }
    }
    &:before {
        display: none;
    }
}





.btn-remodal {
    margin: 30px 0 0 15px;

}






.remodal-close { 
    top: 12px !important;
    right: 15px !important;
    color: #fff !important;
    font-weight: 900;
    @media @mobile {
       width: 10px !important;
       height: 16px !important;
   }
   @media @tablet { 
    width: 35px !important;
    height: 30px !important;
}
&:before {
    @media @mobile {
        font-size: 30px !important;
        top: -7px !important;
        left: -12px !important;
    }
    @media @tablet { 
        font-size: 50px !important;
        top: -0px !important;
        left: -0px !important;
    }
}
}

.remodal-common {

    border-radius: 15px;
    background: #fff;
    padding: 30px 40px;

    @media @mobile {
        max-width: 500px !important;
        padding: 40px 15px;
        margin: 0 auto;
        text-align: center;
        
    }
    @media @tablet {
        padding: 40px 20px;
        max-width: 450px !important;
        text-align: center;
    }
    .remodal-close {
        color: #000 !important;
    }
}



.error-input{
    clear: both;
    float: left;
    font-size: 13px;
    padding-left: 93px;
    color: #df3a3a;

    margin: 0 auto;
    text-align: center;
    
}

#name-error {
    font-size: 0 !important;
}


.formBox {
    position: relative;
    background: #3b3b3d;
    padding: 30px 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    .form__title {
        padding: 10px 0;
        font-size: 22px;
        font-weight: 700;

        @media @tablet {
            font-size: 30px;
        }
        @media @desktop-xl {
            font-size: 35px;
        }
    }
    .form__text {
        display: block;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .form__line {
        display: block;
        width: 275px;
        margin: auto;
        margin-bottom: 15px;
        padding: 15px 0;
        text-align: center;
    }
    .form__line-top {
        margin-top: 10px;
    }
    .btn {
        width: 275px;
        padding: 15px 0;
        margin: auto;
        border: none;
        background: @orange;
        overflow: hidden; 
    }
    .btnWrap {
        width: 275px;
        display: block;
        margin: 15px auto;
        position: relative;
        overflow: hidden; 
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -6em;
            height: 100%;
            width: 3em;
            transform: skewX(-45deg) translateX(0);
            transition: none;
            background-color: rgba(255,255,255,0.5);
        }

        &:hover {
            color: #fff;
            box-shadow: none;
            &:after {
                transform: skewX(-45deg) translateX(35em);
                transition: all .5s linear;
            }
        }
    }
}

.thanks__title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.thanks__text {
    display: block;
    padding-bottom: 15px;
    padding-left: 0;
    font-size: 18px;
    color: #000;
}