@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1: 								  'Roboto',Fallback, sans-serif;
@ff2: 								  'Roboto',Fallback, sans-serif;


@black: 							   #191c26;
@gray: 								   #9c9c9c;
@red:                 	 #df3e51;
@orange:                 #ef720e;
@white:                  #fff;


@text-color: 						 @black;
@text-margin: 					 0 0 0rem;


@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl15:  ~"only screen and (min-width: 1365px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'), 
       url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'), 
       url('../fonts/RobotoBold/RobotoBold.woff') format('woff');

  font-weight: 700;
  font-style: normal;
}