@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.footer {
	padding: 20px 0;
	background: #000;
	color: #fff;

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
