.b-lazy {
	transition: opacity .3s linear;
	max-width: 100%;
	opacity: 0;
}

.b-lazy.b-loaded {
	opacity: 1;
}


// titles for semantics and structure HTML
.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden; 
}

video {
	display: block;
	max-width: 100%;
	height: auto;
}



/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	.footer {
		&__list {
			overflow: hidden;
			a {
				display: inline-block;
				max-width: 100px;
			}
		}
	}
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {
	
}