@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	position: relative;
	background: url(../images/hero-image-sm.jpg)no-repeat center/cover;
	
	min-height: 480px;
	max-height: 736px; 
	height: 100vh;
	color: #fff;

	@media @mobile-land {
		background: url(../images/hero-image.jpg)no-repeat center/cover;
		min-height: 480px;
		max-height: 600px; 
	} 

	@media @tablet {
		min-height: 480px;
		max-height: 850px; 
		background: url(../images/hero-image-tablet.jpg)no-repeat right/cover;
	}
	@media @desktop {
		min-height: 640px;
		max-height: 768px; 
		background: url(../images/hero-image.jpg)no-repeat center/cover;
		background-attachment: fixed;
	}
	@media @desktop-xl {
		
	}
	@media @desktop-xl-2 {
		min-height: 840px;
		max-height: 1000px; 
	}

	&__content {
		padding: 10vh 2vh;
		max-width: 400px;
		text-align: center;
		margin: auto;

		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		min-height: 640px;
		
		
		@media @tablet {
			padding: 10vh 0;
			width: 470px;
			max-width: inherit;
			margin: auto;
		}
		@media @desktop {
			margin-left: 15vh;
		}
		@media @desktop-xl {
			width: 570px;
		}
		@media @desktop-xl-2 {
			padding: 150px 0;
			width: 670px;
		}
	}

	&__text {
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 500;

		@media @mobile-land {
			font-size: 18px;
		}

		@media @tablet {
			padding: 10px 0;
			font-size: 26px;
		}
		@media @desktop {
			font-size: 30px;
		}
		@media @desktop-xl {
			font-size: 38px;
		}
		@media @desktop-xl-2 {
			font-size: 42px;
			padding: 20px 0;
		}
	}
	&__author {
		font-size: 20px;
		font-weight: 400;

		@media @mobile-land {
			font-size: 18px;
		}

		@media @tablet {
			font-size: 22px;
		}
		@media @desktop-xl {
			font-size: 25px;
		}
		@media @desktop-xl-2 {
			font-size: 28px;
		}
	}
	&__arrow {
		a {
			display: none;
			@media @desktop {
				display: block;
				position: absolute;
				bottom: 35px;
				left: 50%;
				transition: translateX(-50%);
				display: block;
				max-width: 89px;
				margin: 0 auto;
				animation: arrow-bounce 3s infinite;
			}
		}
	}
}

.headerInner {
	background: #000;
	img {
		margin: 0 auto;
		padding: 10px 0;
	}
}