@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1: 								'Geometria', sans-serif;
@ff2: 								'Geometria', sans-serif;

@black: 							#191c26;
@blue: 								#59c6ff;
@red:                 #df3e51;
@green:               #99cc33;


@text-color: 						@black;
@text-margin: 					0 0 0rem;

@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
  font-family: 'Geometria';
  src: url('../fonts/GeometriaLight/GeometriaLight.woff2') format('woff2'), 
       url('../fonts/GeometriaLight/GeometriaLight.woff') format('woff'), 
       url('../fonts/GeometriaLight/GeometriaLight.ttf') format('truetype');

  font-weight: 300;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/GeometriaRegular/GeometriaRegular.woff2') format('woff2'), 
       url('../fonts/GeometriaRegular/GeometriaRegular.woff') format('woff'), 
       url('../fonts/GeometriaRegular/GeometriaRegular.ttf') format('truetype');

  font-weight: 400;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/GeometriaMedium/GeometriaMedium.woff2') format('woff2'), 
       url('../fonts/GeometriaMedium/GeometriaMedium.woff') format('woff'), 
       url('../fonts/GeometriaMedium/GeometriaMedium.ttf') format('truetype');

  font-weight: 700;
  font-display: fallback;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../fonts/GeometriaBold/GeometriaBold.woff2') format('woff2'), 
       url('../fonts/GeometriaBold/GeometriaBold.woff') format('woff'), 
       url('../fonts/GeometriaBold/GeometriaBold.ttf') format('truetype'); 

  font-weight: 900;
  font-display: fallback;
  font-style: normal;
} 