@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}


.header {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 22px;

		font-size: 13px;
		font-weight: 700;
	}
	&__logo {
		flex-basis: 33%;
	}
	&__nav {
		flex-basis: 45%;
	}
	&__list {
		display: flex;
		list-style-type: none;
	}
	&__link {
		display: block;
		margin-right: 30px;

		transition: all .3s linear;
		text-transform: uppercase;
		&:hover {
			color: @green;
		}
	}

	&__btn {
		position: relative;
		padding-right: 35px;
		font-size: 16px;
		text-transform: uppercase;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -11px;
			width: 35px;
			height: 35px;
			background: url(../images/icons/phone.png)no-repeat;
		}
	}
}
