@dir: 						    	"../images/";
@dir-fonts: 				  	"../fonts/";

@html-size-base: 				10px;

@fs: 						      	16px;
@lh: 						      	1.2;

@ff1: 								'Montserrat',Fallback, sans-serif;
@ff2: 								'Prata',Fallback, sans-serif;

@black: 							#191c26;
@blue: 								#59c6ff;
@red:                 #df3e51;


@text-color: 						@black;
@text-margin: 					0 0 0rem;

@mobile:        ~"only screen and (min-width: 320px)";
@mobile-xl:     ~"only screen and (min-width: 360px)";
@mobile-land:   ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 768px)";
@desktop:       ~"only screen and (min-width: 992px)";
@desktop-xl:    ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:   ~"only screen and (min-width: 1920px)";



@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratThin/MontserratThin.woff2') format('woff2'), 
       url('../fonts/MontserratThin/MontserratThin.woff') format('woff'), 
       url('../fonts/MontserratThin/MontserratThin.ttf') format('truetype');

  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratLight/MontserratLight.woff2') format('woff2'), 
       url('../fonts/MontserratLight/MontserratLight.woff') format('woff'), 
       url('../fonts/MontserratLight/MontserratLight.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratMedium/MontserratMedium.woff2') format('woff2'), 
       url('../fonts/MontserratMedium/MontserratMedium.woff') format('woff'), 
       url('../fonts/MontserratMedium/MontserratMedium.ttf') format('truetype');

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Prata';
  src: url('../fonts/PrataRegular/PrataRegular.woff2') format('woff2'), 
       url('../fonts/PrataRegular/PrataRegular.woff') format('woff'), 
       url('../fonts/PrataRegular/PrataRegular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}