@media @mobile-xl {

}
@media @mobile-land {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

.header {
	position: fixed;
	top: 33px;
	width: 100%;
	z-index: 10;

	&__box {
		display: flex;
		
		
	}
	&__logo {
		flex-basis: 30%;
	}

	
	&__nav {
		flex-basis: 70%;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 10px;
		list-style: none;
	}

	&__link {
		margin-top: -5px;
		display: block;
		position: relative;
		text-transform: uppercase;
		font-size: 12px;
		&:before {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			left: 50%;
			bottom: -10px;
			background-color: #fff;
			transition: width .3s ease-in-out, left .3s ease-in-out;
		}
		&:after {
			display: block;
			position: absolute;
			content: "";
			height: 2px;
			width: 0;
			left: 50%;
			bottom: -10px;
			background-color: #fff;
			transition: width .3s ease-in-out;
			
		}
		&:hover {
			&:before {
				width: 50%;
				left: 0;
			}
			&:after{
				width: 50%;
			}
		}
	}

	&__tel {
		display: block;
		margin-top: -8px;
		padding-left: 20px;
		border-left: 1px solid #fff;
		font-size: 16px;
		letter-spacing: 2.5px;
	}


}

.welcome {
	position: relative;

	.slider {
		&__slide {
			position: relative;
		}
		&__img {
			object-fit: cover;
			width: 100vw;
		}
		&__text {
			position: absolute;
			top: 50%;
			transform: translateY(-38%);
			left: 20.5%;
			padding-left: 24.5px;
			width: 60%;
			margin: 0;
			border-left: 1px solid #fff;
			color: #fff;
			font-family: @ff2;
			font-size: 52px;
			line-height: 1.4;	
		}
	}

	.headerBottom {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0, .65);
		&__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__list {
			display: flex;
			align-items: center;
			padding: 20px 15px;
		}
		&__item {
			margin-right: 13px;
			list-style: none;
		}
		&__link {
			display: block;
			padding: 5px 17px;
			border: 1px solid #fff;
			font-size: 19.72px;
			transition: all .3s linear;
			&:hover {
				background: #47414f;
			}
		}

		&__social {
			display: flex;
			align-items: center;
			&-link {
				display: flex;
				align-items: center;
				margin-left: 10px;
				padding-right: 10px;
				border-right: 1px solid #fff;
				&:last-of-type {
					border-right: none;
				}
			}
			&-img {
				display: inline-block;
				&-ln {
					margin-bottom: 4px;
				}
			}
			&-text {
				padding-left: 6px;
				font-size: 16px;
			}
		}
	}
}