@import "_vars.scss";
@import "_mixin and function.scss";



@media only screen and (max-width: 1680px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1199.98px) {}

@media only screen and (max-width: 991.98px) {}

@media only screen and (max-width: 767.98px) {}

@media only screen and (max-width: 567.98px) {}