@dir: 						    	"../images/";
@dir-fonts: 				  		"../fonts/";

@html-size-base: 					10px;

/* @fs: 						      	1.6rem;
@fss: 						    	2rem;
@fsb: 						    	1.6rem;


@h1: 						      	4rem;
@h2: 						      	3rem;
@h3: 						      	2rem;
@h4: 						      	2rem;
@h5: 						      	2rem;
@h6: 						      	2rem; */


@fs: 						      	22px;
@lh: 						      	1.2;

@ff1: 								'Roboto Condensed', sans-serif;
@ff2: 								'Roboto Condensed', sans-serif;

@black: 							#2b2b2b;
@grey: 								#2b2b2b;
@lime:                              #89ff00;
@green:                             #55c202;

@text-color: 						@black;
@text-margin: 						0 0 0rem;

@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";
@desktop-xl-2:  ~"only screen and (min-width: 1600px)";
@desktop-xll:  ~"only screen and (min-width: 1920px)";



@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Robotocondensedlight.woff2') format('woff2'), 
    	 url('../fonts/Robotocondensedlight.woff') format('woff'), 
    	 url('../fonts/Robotocondensedlight.ttf') format('truetype');
    
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Robotocondensed.woff2') format('woff2'), 
    	 url('../fonts/Robotocondensed.woff') format('woff'), 
    	 url('../fonts/Robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Robotocondensedbold.woff2') format('woff2'), 
    	 url('../fonts/Robotocondensedbold.woff') format('woff'), 
    	 url('../fonts/Robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-target:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-quote-left:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-play-1:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-location-outline:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-play-2:before { content: '\e812'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */






/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic'); */





