@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}

/* .photo {
	max-width: 100vw;
	height: 400vh;
	background: url(../images/pixelPerfect.jpg)no-repeat center;
	background-size: contain; 
    } */

/* section {
    background: #fafafa;
    color: #000;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

#main {
    position: relative;
    background: #fff;
}

#intro {
    height: 100vh;
    background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%);
    text-align: center;
    color: #fff;
    position: relative;
}
#intro .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project {
    text-align: center;
    padding: 200px 0;
    border-bottom: 1px #ebebeb solid;
    opacity: 0;
   transform: translateY(50px);
    transition: all 1s ease-out;
}
.project.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.project img {
    width: 180px;
    height: 180px;
}
.project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
}
#project01 h2 {
    color: #3DB3CE;
}
#project02 h2 {
    color: #75C695;
}
#project03 h2 {
    color: #F5876F;
}

.bcg-parallax {
    padding: 150px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bcg {
    background: url(../images/img_background.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 140%;
    top: 0;
    z-index: 1;
    opacity: .7;
}
.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.slide-item-1 {
    background: url(../images/1.jpg)no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.slide-item-2 {
    background: url(../images/2.jpg)no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

*/


/* html, body {
  height: 100%;
  margin: 0;
}


section {
  height: 100%;
  color: white;
  position: relative;
  text-align: center;
}
section .inner {
  margin: 0 auto;
  max-width: 85%;
}

#one .bcg{
  background: url(../images/1.jpg)no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#two .bcg{
 background: url(../images/2.jpg)no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#three .bcg{
  background: url(../images/3.jpg)no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}







div {
    position: relative;
<<<<<<< HEAD

=======
    background: transparent;
} */

.container {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin-left: 15px;
    background: green;
}

.tools img {
    margin-top: 150px;
    margin-left: 50px;
    width: 100px;
	height: 100px;

}

.text {
    padding-top: 32vh;
    color: #000;
    text-align: center;
}


body {
  background: #000;
}

.logo {

}

.logo-white {
width: 400px;
height: 400px;

}

