@media @mobile {

}
@media @tablet {

}
@media @desktop {

}
@media @desktop-xl {
	
}
@media @desktop-xl-2 {

}
@media @desktop-xll {
	
}







.header {
  background: #666;

}

h1 {
  margin: 0;
  padding: 200px 0;
  text-align: center;
}


.project {
  overflow: hidden;
  height: 100vh;
  position: relative;
  text-align: center;
  background-image: linear-gradient(to bottom, #45475a,#393b47);

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
  }


  .flyLeft {
    position: absolute;
    left: 10%;
    right: 0;
    top: 215px;
    height: 450px;

    background: url(../images/image2.png) no-repeat left;

  }
  .flyRight {
    position: absolute;
    left: 0;
    right: 15%;
    top: 215px;
    height: 450px;

    background: url(../images/image1.png) right no-repeat;

  }


}

.text {

  max-width: 400px;
  margin: auto;
    color: #000;
  }



