@import "_vars.scss";
@import "_mixin and function.scss";




header {
	margin-top: 50vh;
	position: relative;
}


@mixin align-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center {
	@include align-center;
}