// titles for semantics and structure HTML
.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden; 
}

*::selection {
    background-color: #666;
    color: #fff;
}


.cursor { 
	position: absolute;
	height: 40px; 
	width: 40px;
	border: 2px solid green;
	border-radius: 50%;
	z-index: 1;
}

/* ONLY FOR IE11 */
@media all and (-ms-high-contrast:none) {
	.header__text {
		max-width: 570px;
	}
}

/* ONLY FOR EDGE */
@supports (-ms-ime-align:auto) {

}